<%= simple_form_for @topic, url: @topic.new_record? ? admin_topics_path : admin_topic_path(@topic), validate: true do |f| %>
	<%= f.error_notification %>
	<%= f.input :title %>
    <%= f.input :content, as: :text, input_html: {style: 'height:200px;'} %>
    <%= f.input :tag_id, collection: Tag.all.map{|t| [t.name, t.id]}, include_blank: false %>
	<div class="form-group">
		<div class="col-sm-8 col-sm-offset-2">
			<input type="submit" value="保存topic" class="btn btn-default">
		</div>
	</div>
<% end %>
