<div class="pager">
	<!-- <form class="form-horizontal">
	<legend>Form Horizontal</legend> -->
	<% @user = User.first %>
	<% @user.errors[:mobile] = '手机格式不正确!' %>
	<%= simple_form_for @user, validate: true do |f| %>
		<%= f.input :username, disabled: true, hint: '用户名不可修改!' %>
		<%= f.input :mobile %>
		<%= f.input :email %>
		<%= f.input :nickname %>
		<%= f.input :realname %>
		<%= f.input :gender, as: :radio_buttons, boolean_style: :inline %>
		<%= f.input :site %>
		<%= f.input :domain, disabled: !!@user.domain %>
		<%= f.input :profession %>
		<%= f.input :duty %>
		<%= f.input :warrant, collection: User::WARRANT.invert, include_blank: false %>
		<%= f.input :resume, as: :text, input_html:{rows: 3} %>
		<%= f.submit '保存', class: 'btn btn-default col-sm-offset-7' %>
	<% end %>
</div>