<div class="partTwo">
	<div class="part_left">
		<div class="part_twoTitle">
			<span>
				<!--  <a href="space.php?do=photographybase">摄影基地</a>
			--> <em><a href="javascript:void(0);">......浏览更多</a></em> 
		</span> <strong>特别推荐</strong>
	</div>
	<div class="part_twoPhoto">
			<div class="part_twoPhotoM">
			<% 
			a = ['/upload/6361_13877982934k3J.jpg', '/upload/6001_13871933628E5Q.jpg', '/upload/7502_138724243644M4.jpg', '/upload/64510_1382965471ji6U.jpg']
			b = ['每天看世界最好照片：Julien Coquentin 摄影作品', '快拍青春美少女', '跨国深度快拍印度报名啦', '李政德:摄影就像呼吸，随时随地']
			c = ['', '科摩咖啡·快拍青春美少女摄影大赛获奖作品公布， 12月29日将在科摩咖啡馆举办颁奖下午茶会及作品展', '快拍快拍网2014新春跨国快拍印度开始报名，快拍印度摄影作品征集同时启动。', '#娌娌专访#侯登科纪实奖大奖获得者李政德']
			 %>
			<% 4.times do |i| %>
			<dl>
				<dt>
					<%= link_to image_tag(a[i], size: '300x300'), 'javascript:void(0);', target: '_blank' %>
				</dt>
				<dd>
					<p>
						<%= link_to b[i], 'javascript:void(0);', target: '_blank' %>
					</p>
					<%= c[i] %>
				</dd>
			</dl>
			<% end %>
		</div>
	</div>
</div>
<div class="part_right">
	<div class="part_twoTitle">
		<span> <em><a href="javascript:void(0);" target="_blank">......浏览更多</a></em> 
		</span> <strong>抢书读</strong>
	</div>
	<div class="bookOne">
		<div class="bookPic Fl">
			<a href="javascript:void(0);" target="_blank">
				<img src="http://www.kpkpw.com/attachment/201311/26/20325_1385471001gnvR.jpg.thumb.jpg" width="100"></a>
		</div>
		<dl class="bookTxt Fl">
			<dt>
				<a class="blue" href="javascript:void(0);" target="_blank" title="第64期抢书读：《总统的摄影师》">第64期抢书读：《总统的摄影师》</a>
				<br>
				第64期抢书读获得者：lizehao2008。他为自己的“总统摄影师”身份认真规划了一份详细的拍摄大纲  ，不知美国总...
			</dt>
		</dl>
		<div class="clear"></div>
		<ul class="bookList">

			<% ["第63期快拍抢书读：中国摄影史拾珠", "第62期抢书读:从红星胡同到“798”", "第61期抢书读:《指尖上的摄影》", "第60期抢书读:《中国摄影批评选集》", "第59期快拍抢书读：《再不出发就老了》", "第58期快拍抢书读《摄影家是怎样炼成"].each do |name| %>
				<li>
					<%= link_to name, 'javascript:void(0);', target: '_blank' %>
				</li>
			<% end %>
		</ul>
	</div>
	<div class="clear"></div>
	<div class="part_twoTitle margin_26">
		<span>
			<em>
				<a href="javascript:void(0);" target="_blank">......浏览更多</a>
			</em>
		</span>
		<strong>推荐摄影师</strong>
	</div>
	<div class="bookOne">
		<div class="bookPic Fl">
			<a href="javascript:void(0);" target="_blank">
				<img src="http://uc.kpkpw.com/data/avatar/000/03/60/12_avatar_middle.jpg" onerror="this.onerror=null;this.src='http://uc.kpkpw.com/images/noavatar_middle.gif'"></a>
		</div>
		<dl class="bookTxt Fl">
			<dt>
				<a class="blue" href="javascript:void(0);" target="_blank" title="占有兵">占有兵</a>
				<br>
				1973年出生于襄樊，现生活、工作于广东省东莞。2006年起记录同事们的打工生活，已拍摄了三十多万张照片。
				<a href="javascript:void(0);" target="_blank">【个人网站】</a>
			</dt>
		</dl>
		<div class="clear"></div>
		<ul class="cameraList">
			<% ["秦勇", "雷雨亭", "叶海军", "宣佳宁", "马文才", "Jiang Yue", "西湖钓神", "俞亮", "浦峰", "李剑铭", "潘鼎荣", "徐一飞", "刘永春", "陳中秋", "阮晓", "杨亚宁", "符号", "龚维琳", "陈杰", "郭江天"].each do |name| %>
				<li>
					<%= link_to name, 'javascript:void(0);', target: '_blank' %>
				</li>
			<% end %>
		</ul>
	</div>
</div>
</div>
<div class="clear"></div>