<% if @is_duty %>
<div style="margin:20px 0; text-align:right;">
	电话：
	<%= @duty[:phone] %>
	值班编辑：
	<%= @duty[:name] %></div>
<% end %>
<div class="Understand">
	<p> <b><a href="javascript:void(0);" target="_blank">通知通知：快来上传你的十大手机照片吧~</a></b> 
	</p>
	<span>
		<a href="" class="close">
			<img src="images/icon_07.jpg"></a>
	</span>
	<div></div>
</div>

<!--partOne-->
<%= render 'par_one' %>
<!--End partOne-->

<!--partTwo-->
<%= render 'par_two' %>
<!--End partTwo-->

<!--partThree-->
<%= render 'par_three' %>
<!--End partThree-->
<!--partFour-->
<%= render 'par_four' %>
<!--End partFour-->
<!--partFive-->
<%= render 'par_five' %>
<!--End partFive-->
<!--partSix-->
<%= render 'par_six' %>
<!--End partSix-->

<div class="elite_site margin_60">
	<h4>推荐网站</h4>
	<ul>
		<li>
			<a href="http://www.magnumphotos.com" target="_blank" title="马格南图片社">马格南图片社</a>
		</li>
		<li>
			<a href="http://www.viiphoto.com/" target="_blank" title="VII图片社">VII图片社</a>
		</li>
		<li>
			<a href="http://www.boston.com/bigpicture/" target="_blank" title="波士顿邮报">波士顿邮报</a>
		</li>
		<li>
			<a href="http://www.life.com/" target="_blank" title="《Life》杂志">《Life》杂志</a>
		</li>
		<li>
			<a href="http://www.msnbc.msn.com/id/5114929/ns/multimedia-news_photos/" target="_blank" title="MSNBC每周图片精选">MSNBC每周图片精选</a>
		</li>
		<li>
			<a href="http://www.leica.org.cn/" target="_blank" title="徕卡中文摄影杂志">徕卡中文摄影杂志</a>
		</li>
		<li>
			<a href="http://www.fengniao.com/" target="_blank" title="蜂鸟网">蜂鸟网</a>
		</li>
		<li>
			<a href="http://www.sipaphoto.com/" target="_blank" title="希帕图片">希帕图片</a>
		</li>
		<li>
			<a href="http://photo.sina.com.cn/" target="_blank" title="新浪图片">新浪图片</a>
		</li>

	</ul>
</div>