<%= form_for User.new, url: '/sign_in', method: :post, html: {id: 'sign-in', class: "sign-form #{'showform' if params[:m].eql?('sign_in') }"} do |f| %>
	<h4>登录漫拍网，看精致图片</h4>
	<hr>
	<div class="form-group">
		<input type="text" class="form-control" id="username" name="username" placeholder="输入帐号/邮箱/手机" value="<%= params[:username] %>">
		<p class="help-block"></p>
	</div>
	<div class="form-group">
		<input type="password" name= "password" class="form-control" id="password" placeholder="输入登录密码">
		<p class="help-block"></p>
	</div>
	<input type="submit" value="登录漫拍" class="btn btn-info btn-block">
	<hr>
	<div class="checkbox">
		<input type="checkbox" name="remember_me" id="remember_me">
		<label for="remember_me">记住我</label>
		<a href="/forgot">忘记密码</a>
		<a class="pull-right sign-up" href="javascript:void(0);">去注册</a>
	</div>
	<hr>
	<h5>快捷登录，无需注册</h5>
	<%= render "oauth" %>
<% end %>

<%= form_for @user || User.new, url: '/sign_up', validate: true, html: {id: 'sign-up', class: "sign-form #{'showform' if params[:m].eql?('sign_up') }"} do |f| %>
	<h4>注册漫拍网，分享精致图片</h4>
	<hr>
	<div class="form-group">
		<%= f.text_field :username, class: 'form-control', placeholder: '账号' %>
	</div>
	<div class="form-group">
		<%= f.email_field :email, class: 'form-control', placeholder: '邮箱' %>
	</div>
	<div class="form-group">
		<%= f.password_field :password, class: 'form-control', placeholder: '密码' %>
	</div>
	<!-- <div class="form-group">
		<%#= f.password_field :password_confirmation, class: 'form-control', placeholder: '重复密码' %>
	</div> -->
	<input type="submit" value="注册为漫拍帐户" class="btn btn-info btn-block">
	<hr>
	<div class="checkbox">
		<input type="checkbox" id="agree">
		<label for="agree">同意</label>
		<a href="">协议</a>
		<a class="pull-right sign-in" href="javascript:void(0);">去登录</a>
	</div>
	<hr>
	<h5>快捷登录，无需注册</h5>
	<%= render "oauth" %>
<% end %>