<div class="row">
	<style type="text/css">
	.main .breadcrumb{
		margin-bottom: 20px;
	}
	.ad > img{
		width: 100%;
	}
	</style>
	<div class="col-md-9">
		<div class="ad">
			<img src="/images/ad.jpg" alt="我的十大手机图片征集">
		</div>

		<%= render 'shared/flexslider' %>

		<div class="row">
			<% Image.where('event_id is not null and work_id is not null').limit(3).each do |image| %>
			<div class="col-md-4">
				<div class="thumbnail">
					<%= link_to image_tag(image.picture(:cover)), image_path(image), style: 'display:block', target: '_blank' %>
					<div class="caption">
						<%= link_to "##{image.event.name}#", event_path(image.event_id) %>
						<br>
						<%= link_to '更多活动>>', events_path %>
					</div>
				</div>
			</div>
			<% end %>
		</div>
	</div>
	<div class="col-md-3">
		<div class="breadcrumb">
			<span>每日重点</span>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="breadcrumb">
			<span>全部活动</span>
			<div class="pull-right">
				<a href="">年度活动</a>
				<a href="">正在进行的活动</a>
				<a href="">已结束的活动</a>
				<a href="">浏览更多快拍活动>></a>
			</div>
		</div>
		<div class="event-tags">
			<% Event.ongoing.limit(18).each do |event| %>
			<%= link_to event.name, event_path(event.id), class: 'tag' %>
			<% end %>
		</div>	
	</div>
</div>
<div class="row">
	<div class="col-md-9">
		<div class="breadcrumb">
			<span>特别推荐</span>
		</div>
	</div>
	<div class="col-md-3">
		<div class="breadcrumb">
			<span>推荐摄影师</span>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="breadcrumb">
			<span>优质话题</span>
		</div>
	</div>
	
	<div class="col-md-9">
		
	</div>
	<div class="col-md-3">
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="breadcrumb">
			<span>最新上传</span>
			<div class="pull-right">
				<a href="">每日精选</a>
				<a href="">每日快拍之星</a>
				<a href="">热门作品</a>
				<a href="">浏览更多>></a>
			</div>
		</div>
		<div class="new-works">
			
		</div>
	</div>
</div>