<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= @title %></title>
	<meta name="keywords" content="<%= @keywords %>">
	<meta name="description" content="<%= @description %>">
	<meta property="qc:admins" content="5510712337167636" />
	<meta property="wb:webmaster" content="e5a2ccc22427e5c6" />
	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<link href="/favicon.ico?v=2" type="image/x-icon" rel="icon">
	<link href="/favicon.ico?v=2" type="image/x-icon" rel="shortcut icon">
	<!--[if lte IE 8]>
	<link rel="stylesheet" href="/ie/ie.css" />
	<![endif]-->

	<!--[if lt IE 9]>
	<script src="/ie/html5shiv.min.js"></script>
	<script src="/ie/respond.min.js"></script>
	<![endif]-->
	<%= render 'shared/tongji' %>
	<link href="/stylesheets/sq-session-index.css?body=1" media="all" rel="stylesheet" type="text/css">
</head>
<!--缺少跳转landingpage-->
<body>
	<div class="session window-screen">
		<div class="container mp-session-sign fadeInitem">
			<div class="sq-header">
				<%= link_to image_tag('/images/logo/logo@_h_50.png?v=3'), home_path %>
				<a href="/sign_up" class="to-signup wf">注册</a>
				<a href="/sign_in" class="to-signin wf">登录</a>
			</div>
		</div>
		<div class="sq-beian sq-content fadeInitem">
			<h1>获取灵感 发现精彩</h1>
			<h3>加入中国最出色的摄影社区</h3>
			<a class="button submit large" href="/photos/simple">上传您的第一张作品</a>
			<a class="discover" href="/photos?&q%5Bn%5D=recs&q%5Bo%5D=recommend_at+desc&q%5Bs%5D=cols">或看看精彩作品</a>
		</div>
		<div class="sq-beian sq-footer">
			<table>
				<tr>
					<td>

					</td>
					<td>
						Copyright © 2014-2015　山东漫拍文化发展有限公司
						<br>
						鲁ICP备14011722号
					</td>
					<td>
						© 2014 <%= link_to 'Photography By ' + 'zhuxiaowu', user_path(1) %>
					</td>
				</tr>
			</table>
		</div>
		<div class="sq-background window-screen">
			<%= image_tag sessionbackgrounds %>
			<%#= link_to image_tag(sessionbackgrounds), home_path, title: '点击进入首页' %>
		</div>
	</div>
	
</body>
</html>
<script type="text/javascript">
$(function(){
	$(".window-screen").css({height: $(window).height()});
	setTimeout(function(){
		$(".fadeInitem").fadeIn();
	}, 1000);
	
})
</script>