<%= form_for @user || User.new, url: '/sign_in', html: {id: 'sign-in', class: 'sign-form'} do |f| %>
	<h4>登陆漫拍网，看精致图片</h4>
	<hr>
	<div class="form-group <%= 'has-error' if @errors[:username].present? %>">
		<input type="text" class="form-control" id="username" name="username" placeholder="账号/邮箱/手机" value="<%= params[:username] %>">
		<p class="help-block"><%= @errors[:username] %></p>
	</div>
	<div class="form-group <%= 'has-error' if @errors[:password].present? %>">
		<input type="password" name= "password" class="form-control" id="password" placeholder="密码">
		<p class="help-block"><%= @errors[:password] %></p>
	</div>
	<input type="submit" value="登录漫拍" id="submit-push" class="btn btn-info btn-block">
	<hr>
	<div class="checkbox">
		<input type="checkbox" name="remember_me" id="remember_me">
		<label for="remember_me">记住我</label>
		<a href="/forgot_password">忘记密码</a>
		<a class="pull-right" href="/sign_up">去注册</a>
	</div>
	<hr>
	<h5>合作网站帐号登录,未注册漫拍也可直接登录!</h5>
	<table class="table">
		<tr>
			<td>
				<a href="/oauth/weibo/instant_login/" class="weibo login-button">微博</a>
			</td>
			<td>
				<a href="/oauth/douban/instant_login/" class="douban login-button pull-right">豆瓣</a>
			</td>
		</tr>
		<tr>
			<td>
				<a href="/oauth/renren/instant_login/" class="renren login-button">人人</a>
			</td>
			<td>
				<a href="/oauth/qzone/instant_login/" class="qzone login-button pull-right">QQ</a>
			</td>
		</tr>
	</table>
<% end %>

<script>
	$(function(){
		$("#submit-push").click(function(){
			$("#username").blur();
			$("#password").blur();
			if($(".has-error").length > 0){
				return false;
			}
			$(this).submit();
		});
		$("#username").blur(usernameBlur);
		$("#password").blur(passwordBlur);
		// username blur
		function usernameBlur(){
			var value = $(this).val();
			var reg = /[\w\.\@\u4e00-\u9fa5]{2,}/;
			if(!(reg.test(value))){
				$(this).next().text("请输入正确的账号/邮箱/手机").parent().addClass('has-error');
				return false
			}
			$(this).next().text('').parent().removeClass('has-error');
		}
		// password blur
		function passwordBlur(){
			var value = $(this).val();
			if(value.length < 5 || value.lenght > 32){
				$(this).next().text("密码长度5..32位").parent().addClass('has-error');
				return false;
			}
			$(this).next().text('').parent().removeClass('has-error');
		}
	})
</script>