<%= form_for @user || User.new, url: '/sign_up', validate: true, html: {id: 'sign-up', class: 'sign-form'} do |f| %>
	<h4>注册漫拍网，分享精致图片</h4>
	<hr>
	<div class="form-group">
		<%= f.text_field :username, class: 'form-control', placeholder: '汉字/字母/数字/下划线组成' %>
	</div>
	<div class="form-group">
		<%= f.email_field :email, class: 'form-control', placeholder: '5-32位长度的邮箱地址' %>
	</div>
	<div class="form-group">
		<%= f.password_field :password, class: 'form-control', placeholder: '密码' %>
	</div>
	<div class="form-group">
		<%= f.password_field :password_confirmation, class: 'form-control', placeholder: '重复密码' %>
	</div>
	<input type="submit" value="注册为漫拍账户" class="btn btn-info btn-block">
	<hr>
	<div class="checkbox">
		<!-- <input type="checkbox" id="agree">
		<label for="agree">同意</label>
		<a href="">协议</a> -->
		<a class="pull-right" href="/sign_in">去登陆</a>
	</div>
	<hr>
	<h5>合作网站帐号登录,未注册漫拍也可直接登录!</h5>
	<table class="table">
		<tr>
			<td>
				<a href="/oauth/weibo/instant_login/" class="weibo login-button">微博</a>
			</td>
			<td>
				<a href="/oauth/douban/instant_login/" class="douban login-button pull-right">豆瓣</a>
			</td>
		</tr>
		<tr>
			<td>
				<a href="/oauth/renren/instant_login/" class="renren login-button">人人</a>
			</td>
			<td>
				<a href="/oauth/qzone/instant_login/" class="qzone login-button pull-right">QQ</a>
			</td>
		</tr>
	</table>
<% end %>