<style type="text/css">
a.link{
	font-size: 12px;
	color: #999;
	text-decoration: none;
}
a.link:hover{
	color: #777;
}
.logo img{
	width: 50px;
	height: 50px;
}
.unread{
	background: #fffced;
}
.time{
	position: absolute;
	right: 10px;
}
.list-group-item{
	cursor: pointer;
}
</style>

<div class="list-group messages">
	<% @notices.each do |notice| %>
	<div class="list-group-item <%= 'unread' unless notice.read %>" nid="<%= notice.id %>">
		<span class="logo">
			<%= image_tag notice.sender.avatar(:s50) %>
		</span>
		<span class="txt">
			<%= render notice.cate, notice: notice %>
		</span>
		<span class="time"><%= humanize notice.created_at %></span>
	</div>
	<% end %>
	<%= will_paginate @notices %>
</div>
<script type="text/javascript">
$(function(){
	$(".list-group-item").hover(function(){
		if($(this).hasClass("unread")){
			var nid = $(this).attr("nid");
			$.get("/my/notices/" + nid + "/edit", {read: true}, "script");
			$(this).removeClass("unread");
		}
	})
})
</script>
