<%= simple_form_for ['admin', @event], validate: true do |f| %>
	<%= f.error_notification %>
	<div class="form-group file optional site_ad_photo">
		<%= f.label :logo %>
		<div class="col-sm-6 input-text-add">
			<%= image_tag(@event.logo.url, style: 'height:80px;margin-bottom:10px;') unless @event.new_record? %>
			<%= f.input_field :logo %>
		</div>
	</div>
	<%= f.input :name %>
	<%= f.input :title %>
	<%= f.input :end_time, as: :datepicker, picker: {
		'date-startdate' => Date.today, 
		'date-enddate' => 2.years.from_now.to_date.to_s} %>
	<%= f.input :channel %>
	<%= f.input :ischannel, :collection => [['活动', false], ['频道', true]], :as => :radio_buttons, :item_wrapper_class => 'radio-inline' %>
	<%= f.input :desc, as: :text %>
	<div class="form-group">
		<div class="col-sm-8 col-sm-offset-2">
			<input type="submit" value="保存event" class="btn btn-default">
		</div>
	</div>
<% end %>
