<div class="row">
	<div class="col-sm-12 col-md-12">
		<h3 class="heading">
			活动-<%= @event.id %>
			<small><%= link_to '修改', edit_admin_event_path(@event) %></small>
		</h3>
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<div class="vcard">
					<ul>
						<li class="v-heading">详细信息</li>
						<li>
							<span class="item-key">LOGO</span>
							<div class="vcard-item"><%= image_tag @event.logo.url, style: 'max-width: 80px;' %></div>
						</li>
						<li>
							<span class="item-key">发起人</span>
							<div class="vcard-item"><%= link_to @event.user.username, admin_user_path(@event.user_id) %></div>
						</li>
						<li>
							<span class="item-key">活动名称</span>
							<div class="vcard-item"><%= @event.name %></div>
						</li>
						<li>
							<span class="item-key">活动标题</span>
							<div class="vcard-item"><%= @event.title %></div>
						</li>
						<li>
							<span class="item-key">活动描述</span>
							<div class="vcard-item"><%= @event.desc %></div>
						</li>
						<li>
							<span class="item-key">活动类型</span>
							<div class="vcard-item"><%= @event.channel %></div>
						</li>
						<li>
							<span class="item-key">显示到导航</span>
							<div class="vcard-item">
								<%= link_to '推荐活动', admin_ajax_path('update', {
									source: 'Event',
									id: @event.id,
									update: {
										totop: !@event.totop
									}
								}) %>
							</div>
						</li>
						<li>
							<span class="item-key">推荐活动(显示到首页)</span>
							<div class="vcard-item">
								<%= link_to '推荐活动', admin_ajax_path('tui', {
									source: 'Event',
									id: @event.id,
									channel: 'request',
									user_id: @event.user_id
								}) %>
							</div>
						</li>
						<li>
							<span class="item-key">活动状态</span>
							<div class="vcard-item">
								(<%= Event::STATE.merge(audit: '未审核').values[@event.state] %>)
								<% case @event.state %>
								<% when 0 %>
									<%= link_to '通过', admin_ajax_path( 'update', {
										source: 'Event',
										id: @event.id,
										update: {
											state: 2
										}
									}) %>
									/
									<%= link_to '不通过', admin_ajax_path( 'update', {
										source: 'Event',
										id: @event.id,
										update: {
											state: 1
										}
									}) %>
								<% when 1 %>
									<%= link_to '通过', admin_ajax_path( 'update', {
										source: 'Event',
										id: @event.id,
										update: {
											state: 2
										}
									}) %>
									/
									<%= link_to '关闭', admin_ajax_path( 'update', {
										source: 'Event',
										id: @event.id,
										update: {
											state: 3
										}
									}) %>
								<% when 2 %>
									<%= link_to '不通过', admin_ajax_path( 'update', {
										source: 'Event',
										id: @event.id,
										update: {
											state: 1
										}
									}) %>
									/
									<%= link_to '关闭', admin_ajax_path( 'update', {
										source: 'Event',
										id: @event.id,
										update: {
											state: 3
										}
									}) %>
								<% when 3 %>
									<%= link_to '重启活动', admin_ajax_path( 'update', {
										source: 'Event',
										id: @event.id,
										update: {
											state: 2
										}
									}) %>
								<% else %>
									(未知错误)<%= link_to '置为关闭', admin_ajax_path( 'update', {
										source: 'Event',
										id: @event.id,
										update: {
											state: 3
										}
									}) %>
								<% end %>
							</div>
						</li>
						<li>
							<span class="item-key">参与人数</span>
							<div class="vcard-item"><%= @event.members_count %></div>
						</li>
						<li>
							<span class="item-key">参与图片(<%= @event.photos_count %>)</span>
							<div class="vcard-item">
								<%= link_to '查看全部', admin_photos_path('con[event_id]' => @event.id) %>
							</div>
						</li>
						<li class="v-heading">
							活动编辑
						</li>
						<li>
							<table class="table table-bordered table12 table-condensed table-hover">
								<tr>
									<th>用户</th>
									<th>数量</th>
									<th>操作</th>
								</tr>
								
								<% @event.editors.each do |editor| %>
									<%= form_for ['admin', editor], validate: true do |f| %>
										<tr>
											<td>
												<%= f.text_field :editor_id %>
											</td>
											<td>
												<%= f.text_field :sum %>
											</td>
											<td>
												<%= f.submit '保存', class: 'btn btn-default btn-xs' %>
												/
												<%= link_to '删除', admin_editor_path(editor.id), method: :delete, data: {confirm: '确定删除？不可恢复操作!' }, class: 'btn btn-danger btn-xs' %>
											</td>
										</tr>
									<% end %>
								<% end %>
								<%= form_for ['admin', Editor.new], validate: true do |f| %>
									<%= f.hidden_field :event_id, value: params[:id] %>
									<tr>
										<td>
											<%= f.text_field :editor_id %>
										</td>
										<td>
											<%= f.text_field :sum %>
										</td>
										<td>
											<%= f.submit '创建', class: 'btn btn-default btn-xs' %>
										</td>
									</tr>
								<% end %>
							</table>
						</li>
						<!-- <li class="v-heading">
							活动获奖
						</li>
						<li>
							<table class="table table-bordered table12 table-condensed table-hover">
								<tr>
									<th>获奖人</th>
									<th>名次</th>
									<th>作品</th>
									<th>操作</th>
								</tr>
								
								<%# @event.winner_works.each do |winwork| %>
								<tr>
									<td>
										<%#= link_to winwork.user.username, admin_user_path(winwork.user_id) %>
									</td>
									<td>
										<%#= winwork.winner %>
									</td>
									<td>
										<%#= link_to '查看', admin_work_path(winwork.id) %>
									</td>
									<td>
										<%#= link_to '查看', 'javascript:void(0);' %>
									</td>
								</tr>
								<%# end %>
							</table>
						</li> -->
						<li class="v-heading">
							活动公告
							<%= link_to '去发布', new_admin_topic_path(eid: @event.id) %>
						</li>
						<li>
							<table class="table table-bordered table12 table-condensed table-hover">
								<tr>
									<th>标题</th>
									<th>链接</th>
									<th>创建于</th>
									<th>操作</th>
								</tr>
								<% MpSet.where(cate_id: @event.id).each do |em| %>
								<tr>
									<td><%= em.title %></td>
									<td><%= em.link %></td>
									<td><%= em.created_at.to_date %></td>
									<td>
										<%#= link_to '详细', em.link %>
										<%#= link_to '删除', admin_topic_path(topic), data: {confirm: '确定删除？不可恢复操作!' } %>
									</td>
								</tr>
								<% end %>
							</table>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>