<%= simple_form_for(@banner, url: admin_banners_path) do |f| %>
    <%= f.error_notification %>
    <div class="form-group file optional site_banner_photo">
        <%= f.label :photo %>
        <div class="col-sm-6 input-text-add">
            <%= image_tag(@banner.photo.path.gsub(/.+public/, ""), style: 'height:80px;margin-bottom:10px;') unless @banner.new_record? %>
            <%= f.input_field :photo %>
        </div>
    </div>
    <%= f.input :link %>
    <%= f.input :title %>
    <%= f.input :desc %>
    <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2">
            <input type="submit" value="保存Banner" class="btn btn-default" value="保存">
        </div>
    </div>
<% end %>
