<% actions = @datas[controller_name][:actions] %>
<div class="page-header">
    <h3>
        <i class="icon-<%= @datas[controller_name][:icon] %>"></i>
        <%= @datas[controller_name][:name] %>
        <small><%= actions[request.path] || actions[:childrens].try("[]", request.path) %></small>
    </h3>
</div>
<% if actions.present? %>
    <ul class="nav nav-tabs">
        <% actions.each do |key, value| %>
            <% if key.eql?(:childrens)%>
                <li class="dropdown <%= 'active' if value.keys.member?(request.path) %>">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
                        <%= value[request.path] || value.values[0] %>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <% value.each do |k, v| %>
                            <li>
                                <%= link_to v, k %>
                            </li>
                        <% end %>
                    </ul>
                </li>
            <% else %>
                <li class="<%= 'active' if request.path.eql?(key) %>">
                    <%= link_to value, key %>
                </li>
            <% end %>
        <% end %>
    </ul>
<% end %>