<%= simple_form_for @topic, validate: true do |f| %>
    <%= f.input :title %>
    <%= f.input :content, as: :text, input_html: {style: 'height:200px;'} %>
    <%= f.input :cate_id, collection: Tag.where(channel: '文章').select('id,name'), include_blank: false %>
    
    
    <div class="form-group select required topic_owner_id">
        <label class="select required col-sm-2 control-label" for="topic_owner_id">
            <abbr title="required">*</abbr>
            标签
        </label>
        <!-- TODO 某一活动标签， owner_id应该不存在 -->
        <div class="col-sm-6 input-text-add">
            <% if @owner %>
            <%= f.input_field :owner_id, as: :string, value: @owner.name %>
            <input id="topicownerid" name="topic_owner_id" type="hidden" value="<%= @owner.id %>">
            <% else %>
            <div class="input-group">
                <%= f.input_field :owner_id, as: :string %>
                <input id="topicownerid" name="topic_owner_id" type="hidden" value="">
                <span class="input-group-addon custom-modal"> 
                    <i class="icon-tag"></i>
                </span>
            </div>
            <% end %>
            <div class="modal fade" id="custom-modal" style="display: none;" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">标签选择</h4>
                        </div>
                        <div class="modal-body">
                            <div class="taglabel"></div>
                            <div class="taglabelitems"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= f.input :original, :collection => [['原创', true], ['转载', false]], :as => :radio_buttons, :item_wrapper_class => 'radio-inline' %>
    <div class="form-group string optional">
        <label class="string optional col-sm-2 control-label"></label>
        <div class="col-sm-6 input-text-add">
            <span class="checkbox">
                <input id="form_agreement" name="form_agreement" type="checkbox">
                <label for="form_agreement">
                    我已认真阅读并同意《
                    <a href="/sites" target="_blank">漫拍指导原则</a>
                    》和《
                    <a href="/sites" target="_blank">免责声明</a>
                    》。
                </label>
            </span>
        </div>
    </div>

    <div class="form-group">
        <input class="btn btn-info col-sm-offset-2 col-md-offset-2" name="commit" type="submit" value="发布话题">
    </div>
<% end %>

<script type="text/javascript">
$(function(){
    TAGS = <%= Tag.where(channel: '文章').select('id,name,cate').group_by{|t| t.cate}.to_json.html_safe %>;
    for(var p in TAGS){
        $(".taglabel").append("<a href='javascript:void(0);' class='tlb10 taglabelrow'>"+p+"</a>");
    }
    $(document).on("click", ".taglabelrow", function(){
        var list, index, item;
        list = TAGS[$(this).text()];
        $(".taglabelitems").html('');
        for(index in list){
            item = list[index];
            $("<a href='javascript:void(0);' class='tlb10 taglabeltarget' tid='" + item.id + "'>" + item.name + "</a>").appendTo(".taglabelitems");
        }
    });
    $(document).on("click", ".taglabeltarget", function(){
        var _id, name;
        _id = $(this).attr("tid");
        name = $(this).text();
        $("#topic_owner_id").val(name);
        $("#topicownerid").val(_id);
        $('#custom-modal').modal('hide');
    });
    
    $(".taglabel a:eq(0)").trigger('click');
    
    // $("#topic_tag").tagHandler({
    //     assignedTags: ['单反'],
    //     availableTags: ['单反', '莱卡', '胶片'],
    //     autocomplete: true,
    //     maxTags: 1
    // });
})
</script>
<style type="text/css">
.tlb10{
    margin-right: 10px;
}
.taglabelitems{
    border-top: 1px solid #ccc;
    margin-top: 10px;
    padding-top: 10px;
}
</style>