<div class="row">
    <div class="col-md-9" style="padding-right:0;">
        <div class="white-col-md">
            <div class="row topic-tag-row">
                <div class="breadcrumb" style="margin-bottom: 0;">
                    <div class="pull-left topic-tag-name">
                        <%= @cate.name %>
                        <span>共<%= @topics.total_entries %>个话题</span>
                    </div>
                    <div class="clearfix"></div>
                </div> 
                <div class="gray-desc">
                    <%= markdown(@cate.desc) %>
                </div>
                <div class="col-md-12">
                    <% if @topics.blank? %>
                    <div class="text-center topics-no">
                        暂时没有话题 <%= link_to '发布话题', new_topic_path(tid: @cate.id), class: 'mp-sign' %>
                    </div>
                    <% else %>
                        <div class="topics">
                            <%= render partial: 'topic', collection: @topics %>
                        </div>
                        <%= will_paginate @topics %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="radbox">
            <div class="box_top">
                <span class="title light">发布</span>
            </div>
            <div class="box_con text-center">
                <%= link_to '发布', new_topic_path(tid: @cate.id), class: 'mp-sign btn btn-success btn-block' %>
            </div>
        </div>
    </div>
</div>