<div class="w-box">
    <div class="w-box-header">
        <div class="pull-right sort-disabled">
            <%= link_to '新建推荐', new_admin_tui_path %>
        </div>
    </div>
    <div class="w-box-content">
        <table class="table table-striped table12 table-condensed table-hover text-center">
            <tr>
                <th>资源类型</th>
                <th>资源ID</th>
                <th>类别</th>
                <th>所有者</th>
                <th>推荐者</th>
                <th>描述文字</th>
                <th>更新时间</th>
                <th>操作</th>
            </tr>
        <% hash = {
            'Topic' => '话题',
            'User'  => '用户',
            'Event' => '活动',
            'Work'  => '作品',
            'Photo' => '图片'
        } %>
        <% @tuis.each do |tui| %>
            <tr>
                <td><%= hash[tui.obj_type] %></td>
                <td><%= tui.obj_id %></td>
                <td><%= Tui::RECOMMENDEDTYPE[tui.channel]  %></td>
                <td><%= tui.user_id %></td>
                <td><%= tui.editor_id %></td>
                <td><%= tui.mark %></td>
                <td><%= tui.updated_at.to_s(:db) %></td>
                <td>
                    <%= link_to '编辑', edit_admin_tui_path(tui), class: 'btn btn-success btn-xs' %>
                    <%= link_to '删除', admin_tui_path(tui.id), method: :delete, data: {confirm: '确定删除？不可恢复操作!' }, class: 'btn btn-danger btn-xs' %>
                </td>
            </tr>
        <% end %>
        </table>
    </div>
    <%= will_paginate @tuis %>
</div>