<div class="images-second-nav">
    <ul class="breadcrumb second-nav">
        <li>
            <%= link_to works_path do %>
                <i class="icon-align-justify"></i>
                全部
            <% end %>
        </li>
        <li>
            <%= link_to works_path do %>
                <i class="icon-heart"></i>
              喜欢
            <% end %>
        </li>
        <li>
            <%= link_to works_path do %>
                <i class="icon-bookmark"></i>
              收藏
            <% end %>
        </li>
        <li>
            <%= link_to works_path do %>
                <i class="icon-ok-circle"></i>
              编辑推荐
            <% end %>
        </li>
        <li>
            <%= link_to works_path do %>
                <i class="icon-comments"></i>
                评论最多
            <% end %>
        </li>
        <li>
            <%= link_to works_path do %>
                <i class="icon-upload"></i>
                最新上传
            <% end %>
        </li>
        <li>
            <%= link_to works_path do %>
                <i class="icon-time"></i>
                每日一图
            <% end %>
        </li>
        <li>
            <%= link_to works_path(tag: :users) do %>
                <i class="icon-star"></i>
              漫拍之星
            <% end %>
        </li>
    </ul>
</div>