<link rel="stylesheet" type="text/css" href="/uploadify/uploadify.css">
<script type="text/javascript" src="/uploadify/jquery.uploadify.js"></script>
<script type="text/javascript" src="/uploadify/uploadify-work.js"></script>
<div class="row">
	<div class="col-md-12">
		<div class="white-col-md">
			<div class="page-header">
				<h4>
					上传作品
					<% if @event %>
					<small>
						到活动: <%= link_to @event.name, event_path(@event), target: '_blank' %>
					</small>
					<% end %>
				</h4>
			</div>
			<%#= form_tag '/works' %>
			<%= simple_form_for Work.new, html: {class: 'clearfix'}, validate: true do |f| %>
				<%= f.text_field :cover_id, type: :hidden %>
				<%= f.text_field :event_id, type: :hidden, value: params[:eid] %>
				<div class="row uploadify-queue" id="upload-file-queue">
					<%= render partial: 'uploads', collection: @images, as: :image %>
				</div>
				<div class="form-group col-md-7 col-sm-7">
					<input type="file" id="upload-file" tg='work'>
				</div>
				<div class="form-group col-md-7 col-sm-7 form-group-event">
					<%= render 'events' %>
				</div>
				<div class="form-group col-md-7 col-sm-7">
					<%= f.input_field :title %>
				</div>
				<div class="form-group col-md-7 col-sm-7">
					<input type="submit" class="btn btn-info" id="push-work" value="保存此次作品">
				</div>
			<% end %>
		</div>
	</div>
</div>