<%= simple_form_for ['admin', @topic], validate: true do |f| %>
	<%= f.error_notification %>
    <%= f.input :user_id, readonly: true, input_html: {value: @topic.new_record? ? current_user.id : @topic.user_id} %>
	<%= f.input :title %>
    <%= f.input :content, as: :text, input_html: {style: 'height:200px;'} %>

    
    <%= f.input :cate_id, collection: Tag.where(channel: '文章').select('id,name'), include_blank: false %>
    <%= f.input :original, :collection => [['原创', true], ['转载', false]], :as => :radio_buttons, :item_wrapper_class => 'radio-inline' %>
	<div class="form-group">
		<div class="col-sm-8 col-sm-offset-2">
			<input type="submit" value="保存topic" class="btn btn-default">
		</div>
	</div>
<% end %>
