<%= simple_form_for @group, validate: true do |f| %>
    <%= f.input :logo %>
    <%= f.input :publish, :collection => [['公开圈子',true] ,['私密圈子', false]], :as => :radio_buttons, :item_wrapper_class => 'radio-inline' %>
    <%= f.input :title %>
    <%= f.input :desc %>
    <div class="form-group string optional group_tag">
        <label class="string optional col-sm-2 control-label" for="group_tag">圈子标签</label>
        <div class="col-sm-6 input-text-add">
            <ul id="group_tag"></ul>
            <p class="help-block">标签作为关键词可以被用户搜索到，多个标签之间用空格分隔开。</p>
        </div>
    </div>
    <div class="form-group string optional">
        <label class="string optional col-sm-2 control-label"></label>
        <div class="col-sm-6 input-text-add">
            <span class="checkbox">
                <input id="form_agreement" name="form_agreement" type="checkbox">
                <label for="form_agreement">
                    我已认真阅读并同意《
                    <a href="/sites" target="_blank">漫拍指导原则</a>
                    》和《
                    <a href="/sites" target="_blank">免责声明</a>
                    》。
                </label>
            </span>
        </div>
    </div>
    <div class="form-group">
        <%#= f.submit, class: 'btn btn-info col-sm-offset-2 col-md-offset-2' %>
        <input class="btn btn-info col-sm-offset-2 col-md-offset-2" name="commit" type="submit" value="保存数据">
    </div>
<% end %>
<script src="/assets/admin/jquery.taghandler.js?body=1" type="text/javascript"></script>
<link href="/assets/admin/jquery.taghandler.css?body=1" media="all" rel="stylesheet" type="text/css">
<script>
$(function(){
    $("#group_tag").tagHandler({
        assignedTags: [ '单反'],
        availableTags: [ '单反', '莱卡', '胶片'],
        autocomplete: true
    });
})
</script>