<style>
    .profile-header-left{
        position: absolute;
        top: -128px;
        left: 20px;
        background: #fafafa;
        box-shadow: 0 2px 4px rgba(0,0,0,0.3);
        border-width: 1px\9;
        border-style: solid\9;
    }
    .user_atten{
        width: 204px;
        padding: 0;
        margin-top: 10px;
    }
    .user_atten li {
        padding: 0 3px 3px;
        float: left;
        border-right-width: 1px;
        border-right-style: solid;
        border-color: #e3e4fb;
        text-align: center;
        width: 68px;
        list-style: none;
    }
    .user_atten li a {
        display: block;
    }
    li.W_no_border{
        border: 0;
    }
    .user_atten li a:hover {
        color: #53364c;
        text-decoration: none;
    }
    .user_atten li strong {
        line-height: 20px;
        display: block;
        margin-bottom: 5px;
        font-family: Tahoma;
        font-weight: 400;
        font-size: 20px;
    }
    .pf_head_pic{
        padding: 2px;
        width: 200px;
        height: 200px;
        position: relative;
    }
    .pf_head_pic img{
        max-width: 200px;
        max-height: 200px;
    }
    .profile-header-right{
        margin-left: 225px;
    }
    .profile-header-right > div{
        min-height: 32px;
        padding-top: 10px;
    }
    .pf_name{
        margin-top: 10px;
        margin-bottom: 0;
    }
    .pf-url{
        font-size: 12px;
    }
    .pf_resume{
        color: #808080;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <img src="/images/profile.jpg" style="width:100%;">
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="profile-header-left">
            <div class="pf_head_pic">
                <%= image_tag @user.avatar(:thumb) %>
            </div>
            <ul class="user_atten">
                <li>
                    <a href="javascript:void(0);"> 
                        <strong>58</strong>
                        <span>作品</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);"> 
                        <strong>632</strong>
                        <span>粉丝</span>
                    </a>
                </li>
                <li class="W_no_border">
                    <a href="javascript:void(0);"> 
                        <strong>69</strong>
                        <span>专集</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="profile-header-right" style="margin-bottom:10px;">
            <h3 class="pf_name">
                <%= @user.username %>
                <small class="pf-url"><%= link_to user_url(@user.id), user_path(@user.id) %></small>
            </h3>
            <div class="pf_resume">
                <%= @user.resume %>
            </div>
            <div class="pf_tags">
                <%= @user.addr %>
            </div>
            <div class="pf_do">
                <%= link_to_fol @user.id %>
                <%= link_to_msg @user.id %>
                
                <!--<a class="account-share facebook"></a>
                <a class="account-share twitter"></a>
                <a class="account-share pinterest"></a>
                <a class="account-share google"></a>
                <a class="account-share email"></a>

                <style type="text/css">
                    a.account-share {
                        border-radius:0;
                        display:inline-block;
                        width:30px;
                        height:30px;
                        background:rgba(255, 255, 255, 0.1) center center no-repeat;
                        -webkit-background-size:16px 16px;
                        background-size:16px 16px;
                        -webkit-transition:all 0.15s ease-in-out;
                        transition:all 0.15s ease-in-out;
                    }
                    a.account-share:hover {
                        background-color:rgba(255, 255, 255, 0.2);
                        cursor:pointer;
                    }
                    a.facebook {
                        border-radius: 3px 0 0 3px;
                        background-image: url("/images/facebook.svg");
                    }
                    a.twitter {
                        background-image: url("/images/twitter.svg");
                    }
                    a.pinterest {
                        background-image: url("/images/pinterest.svg");
                    }
                    a.google {
                        background-image:url("/images/google.svg");
                    }
                    a.email {
                        border-radius: 0 3px 3px 0;
                        background-image:url("/images/email.svg");
                    }
                    a.facebook:hover {
                        background-color:#3b5998;
                    }
                    a.twitter:hover {
                        background-color:#00aced;
                    }
                    a.pinterest:hover {
                        background-color:#cc2127;
                    }
                    a.google:hover {
                        background-color:#d64a2d;
                    }
                    a.email:hover{
                        background:#63676a;
                    }
                </style> -->

            </div>
        </div>
    </div>
    <div class="col-md-6" style="height: 134px;">
        <ul class="nav nav-tabs" style="position: absolute;bottom: 0;width:555px;">
            <% 
            navs = {
                'albums' => ['相册', albums_user_path(@user)],
                'show'   => ['作品', user_path(@user)],
                'fans'   => ['粉丝', fans_user_path(@user)],
                'fols'   => ['关注', fols_user_path(@user)],
                'like'   => ['喜欢', like_user_path(@user)],
                'store'  => ['收藏', store_user_path(@user)]
            }.each do |key, val|
             %>
            <li class="<%= 'active' if action_name.eql?(key) %>">
                <%= link_to val[0], val[1] %>
            </li>
            <% end %>
        </ul>
    </div>
</div>