<div class="col-md-6">
    <div class="starone">
        <%= link_to image_tag(user.avatar(:small), class: 'avatar-big'), user_path(user.id), class: 'pull-left' %>
        <div class="stardesc">
            <div class="starname">
                <%= link_to user.username, user_path(user), class: 'author' %>
            </div>
            <div class="link-outs">
                <div class="pin-count">
                    <%= link_to user_path(user) do %>
                        <strong><%= user.phos_count %></strong>
                        <span>作品</span>
                    <% end %>
                </div>
                <div class="follower-count">
                    <%= link_to user_path(user) do %>
                        <strong><%= user.fols_count %></strong>
                        <span>粉丝</span>
                    <% end %>
                </div>
                <div class="board-count">
                    <%= link_to user_path(user) do %>
                        <strong><%= user.liks_count %></strong>
                        <span>喜欢</span>
                    <% end %>
                </div>
                <%= link_to_follow(user.id) %>
            </div>
        </div>
    </div>
    <p class="gray-desc" style="height:54px;">
        <%= truncate(user.resume, length: 65) %>
    </p>
</div>