<ul class="nav navbar-nav js-nav">
    <li id="js-nav-sessions">
        <%= link_to '首页', root_path %>
    </li>
    <li id="js-nav-micros">
        <%= link_to '动态', micros_path %>
    </li>
    <li id="js-nav-images">
        <%= link_to '作品', images_path %>
    </li>
    <li class="dropdown" id="js-nav-events">
        <%= link_to events_path do %>
        活动 <b class="caret"></b>
        <% end %>
        <ul class="dropdown-menu">
            <% if (events = Event.where(totop: true)).present? %>
                <% events.each do |event| %>
            <li>
                <%= link_to event.name, event_path(event.id) %>
            </li>
                <% end %>
            <li class="divider"></li>
            <% end %>
            <li>
                <a href="/e">正在进行的活动</a>
            </li>
            <li>
                <a href="/e">已经结束的活动</a>
            </li>
        </ul>
    </li>
    <li class="dropdown" id="js-nav-rs">
        <a href="/rs">
            推荐 <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="/rs">每天看世界最好的照片</a>
            </li>
            <li>
                <a href="/rs">月月评</a>
            </li>
            <li>
                <a href="/rs">影展</a>
            </li>
            <li>
                <a href="/rs">摄影师</a>
            </li>
        </ul>
    </li>

    <li id="js-nav-topics">
        <%= link_to '话题', topics_path %>
    </li>
</ul>
<script type="text/javascript">
    $(function(){
        $("li#js-nav-<%= controller_name %>").addClass('active');
    })
</script>




