<ul class="nav navbar-nav js-nav">
    <li id="js-nav-home">
        <%= link_to '首页', home_path %>
    </li>
    <!-- <li id="js-nav-micros">
        <%#= link_to '动态', micros_path %>
    </li> -->
    <li id="js-nav-photos">
        <%= link_to '图库', photos_path %>
    </li>
    <li id="js-nav-events">
        <%= link_to '活动', events_path %>
    </li>
    <li class="dropdown" id="js-nav-rs">
        <a href="/rs">
            推荐 <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="/rs">每天看世界最好的照片</a>
            </li>
            <li>
                <a href="/rs">月月评</a>
            </li>
            <li>
                <a href="/rs">影展</a>
            </li>
            <li>
                <a href="/rs">摄影师</a>
            </li>
        </ul>
    </li>

    <li id="js-nav-topics">
        <%= link_to '话题', topics_path %>
    </li>
</ul>
<script type="text/javascript">
    $(function(){
        $("li#js-nav-<%= controller_name %>").addClass('active');
    })
</script>




