<ul class="nav navbar-nav js-nav">
    <li id="js-nav-home">
        <%= link_to '首页', home_path %>
    </li>
    <li id="js-nav-photos">
        <%= link_to '作品', photos_path %>
    </li>
    <li id="js-nav-events">
        <%= link_to '活动', events_path %>
    </li>
    <li id="js-nav-collections">
        <%= link_to '专集', collections_path %>
    </li>
    <li id="js-nav-topics">
        <%= link_to '话题', topics_path %>
    </li>
</ul>
<script type="text/javascript">
    $(function(){
        $("li#js-nav-<%= controller_name %>").addClass('active');
    })
</script>




