<div class="header">
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<%= link_to image_tag("/images/logo.png"), root_path, class: 'navbar-brand', style: 'padding:0' %></div>
		<div class="collapse navbar-collapse">
			<%= render "shared/left_nav" %>
			<form class="navbar-form navbar-left" style="width:300px">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="动态/图库/用户">
					<span class="input-group-btn">
						<button type="button" class="btn btn-default">
							<i class="icon-search"></i>
						</button>
					</span>
				</div>
			</form>
			<ul class="nav navbar-nav navbar-right">
				<!-- <li id="js-nav-works"> -->
				<li>
					<%= link_to new_work_path do %>
						<i class="icon-camera"></i>
							上传作品
					<% end %>
				</li>
				<% if sign_in? %>
				<li class="dropdown">
					<%= link_to user_path(current_user) do %>
						<%= image_tag(current_user.avatar(:small), class: 'avatar img-circle') %>
						<%= current_user.username %>
						<b class="caret"></b>
					<% end %>
					<ul class="dropdown-menu">
						<li>
							<a href="/my/set/basic">
								<i class="icon-cog"></i>
								设置
							</a>
						</li>
						<li>
							<a href="/my/msgs">
								<i class="icon-envelope"></i>
								漫信
								<div class="pull-right">
									<span class="label label-success">752</span>
								</div>
							</a>
						</li>
						<li>
							<a href="/my/msgs/notices">
								<i class="icon-bullhorn"></i>
								通知
							</a>
						</li>
						<li class="disabled">
							<a href="javascript:void(0);">
								<i class="icon-truck"></i>
								积分(暂未开通)
							</a>
						</li>
						<li class="divider"></li>
						<li>
							<% if !!current_user.admin %>
							<a href="/admin">
								<i class="icon-signin"></i>
								后台管理
							</a>
							<% end %>
						</li>
						<li>
							<%= link_to sign_out_path do %>
								<i class="icon-off"></i>
								退出
							<% end %>
						</li>
					</ul>
				</li>
				<% else %>
				<li>
					<a href="/sign_in">登录</a>
				</li>
				<li>
					<a href="/sign_up">注册</a>
				</li>
				<% end %>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
</div>