<div class="header">
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div style="width:1140px;margin: auto;">
		<div class="navbar-header">
			<%= link_to image_tag("/images/logo.png"), root_path, class: 'navbar-brand', style: 'padding: 0; display: inline-block;' %></div>
		<div class="collapse navbar-collapse">
			<%= render "shared/left_nav" %>
			<!-- <form class="navbar-form navbar-left" style="width:300px">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="动态/图库/用户">
					<span class="input-group-btn">
						<button type="button" class="btn btn-default">
							<i class="icon-search"></i>
						</button>
					</span>
				</div>
			</form> -->
			<ul class="nav navbar-nav navbar-right">
				<li class="up-btn-li">
					<%= link_to new_photo_path, class: 'btn btn-warning btn-upload mp-sign' do %>
						<i class="icon-camera"></i>
							上传作品
					<% end %>
					<div class="arrow">
						<span class="arrow-out">
							<span class="arrow-in"></span>
						</span>
					</div>
					<div class="up-btn-div">
						<%= link_to '传单图', simple_photos_path, class: 'mp-sign' %>
						<%= link_to '传组图', complex_photos_path, class: 'mlast-g mp-sign' %>
					</div>
				</li>
				<% if sign_in? %>
				<li class="dropdown">
					<%= link_to user_path(current_user) do %>
						<%= image_tag(current_user.avatar(:small), class: 'avatar img-circle') %>
						<%= current_user.username %>
						<b class="caret"></b>
					<% end %>
					<ul class="dropdown-menu">
						<li>
							<a href="/my/set/basic">
								<i class="icon-cog"></i>
								设置
							</a>
						</li>
						<li>
							<a href="/my/msgs">
								<i class="icon-envelope"></i>
								私信
								<div class="pull-right">
									<span class="label label-success"><%= current_user.unreads.count %></span>
								</div>
							</a>
						</li>
						<li>
							<a href="/my/notices">
								<i class="icon-bullhorn"></i>
								通知
								<div class="pull-right">
									<span class="label label-primary"><%= current_user.notices.where(read: 0).count %></span>
								</div>
							</a>
						</li>
						<!-- <li class="disabled">
							<a href="javascript:void(0);">
								<i class="icon-truck"></i>
								积分(暂未开通)
							</a>
						</li> -->
						<li class="divider"></li>
						<li>
							<% if !!current_user.admin %>
							<a href="/admin">
								<i class="icon-signin"></i>
								后台管理
							</a>
							<% end %>
						</li>
						<li>
							<%= link_to sign_out_path do %>
								<i class="icon-off"></i>
								退出
							<% end %>
						</li>
					</ul>
				</li>
				<% else %>
				<li>
					<%= link_to '登录', root_path(m: 'sign_in') %>
				</li>
				<li>
					<%= link_to '注册', 'javascript:void(0);', class: 'mp-sign', 'data-init' => 'sign_up' %>
				</li>
				<% end %>
				<li>
					<%= link_to '更多', 'javascript:void(0);', class: 'nav-more' %>
				</li>
			</ul>
		</div>
	</div>
		<!-- /.navbar-collapse -->
	</div>
</div>