<div class="row">
	<div class="col-md-12">
		<div class="mp-home-center-new">
			<div class="line-one cl">
				<div class="item">
					<!--<% 
						#time              = Time.now > "#{Date.today} 18:00:00".to_time ? Date.today.to_s(:number) : Date.today.yesterday.to_s(:number)
						#recommend = Tui.recommend.where(day: time, obj_type: 'Photo').last || Tui.recommend.where(obj_type: 'Photo').last
					%>
					<%#= link_to image_tag(recommend.obj.picture.url(:thumb)), photos_path(order: 'push', tl: time), class: 'thua', target: '_blank' %>
					<hr>
					<p><%#= time.to_date.strftime("%Y年%m月%d日") %>精选照片</p>-->
					<% day = MpSet.where(cate: 1).last %>
					<%= link_to image_tag(day.src), day.link, class: 'thua', target: '_blank' %>
					<hr>
					<p><%= day.title %></p>
				</div>
				<div class="item">
					<% zhou = MpSet.where(cate: 2).last %>
					<%= link_to image_tag(zhou.src), zhou.link, class: 'thua', target: '_blank' %>
					<hr>
					<p><%= zhou.title %></p>
				</div>
				<div class="item last">
					<span class="top-left-pos"></span>
					<div class="tip-text-left">
						<h4>漫拍活动</h4>
						<p>漫拍网各种活动--文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</p>
					</div>
					<div class="tip-right-once">
						<img src="/images/events-hot.png" style="width: 400px;" usemap="#map">
						<map name="map" id="map"  onmouseover="document.body.style.cursor='Hand'" onmouseout="document.body.style.cursor='Default'">
							<area shape="rect" coords="15,9,162,40" href="#meitianzuihaowandezhaopian" />
							<area shape="rect" coords="182,9,284,40" href="#mpdaxueshenghuo" />
							<area shape="rect" coords="302,9,389,40" href="#mpjiezhen" />

							<area shape="rect" coords="17,56,106,87" href="#qixingmanpai" />
							<area shape="rect" coords="129,56,221,87" href="#huwaimanpai" />
							<area shape="rect" coords="254,56,342,87" href="#manxingtianxia" />

							<area shape="rect" coords="22,102,90,135" href="#renwen" />
							<area shape="rect" coords="119,102,187,135" href="#fenguang" />
							<area shape="rect" coords="209,102,278,135" href="#jianzhu" />
							<area shape="rect" coords="302,102,370,135" href="#heibai" />

							<area shape="rect" coords="22,150,90,183" href="#dongwu" />
							<area shape="rect" coords="117,150,205,183" href="#gengduohuodong" />
						</map>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="line-two cl">
				<div class="item">
					<% topic = MpSet.where(cate: 3).last %>
					<%= link_to image_tag(topic.src), topic.link, class: 'thua', target: '_blank' %>
					<hr>
					<p><%= topic.title %></p>
				</div>
				<div class="item">
					<!-- <%# event = Event.totop.last %>
					<%#= link_to image_tag(event.logo.url(:thumb)), event_path(event), class: 'thua', target: '_blank' %>
					<hr>
					<p>漫拍活动： <%#= event.name %></p> -->
					<% request = MpSet.where(cate: 4).last %>
					<%= link_to image_tag(request.src), request.link, class: 'thua', target: '_blank' %>
					<hr>
					<p><%= request.title %></p>
				</div>
				<div class="item last">
					<span class="top-left-pos"></span>
					<div class="tip-text-left">
						<h4>关注摄影师</h4>
						<p>
							你关注的漫友太少，
							<br>
							关注一些活跃的摄影师吧！
						</p>
						<!-- <a href="javascript:void(0);" class="btn btn-warning btn-sm" style="margin-top:20px;">更换推荐</a> -->
					</div>
					<div class="tip-right-once">
						<% users = User.order("rand()").limit(8) %>
						<div class="userlineone userlineitem">
							<% users[0..3].each_with_index do |u, index| %>
								<div class="<%= 'last' if index.eql?(3) %>">
									<%= link_to image_tag(u.avatar.url(:small)), user_path(u) %>
									<div class="tofolbg"></div>
									<%= lin_to_fol_j u.id %>
								</div>
							<% end %>
						</div>
						<div class="userlinetwo userlineitem">
							<% users[4..8].each_with_index do |u, index| %>
								<div class="<%= 'last' if index.eql?(3) %>">
									<%= link_to image_tag(u.avatar.url(:small)), user_path(u) %>
									<div class="tofolbg"></div>
									<%= lin_to_fol_j u.id %>
								</div>
							<% end %>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>