<div class="row" style="margin-top:20px;">
	<div class="col-md-12">
		<!-- 广告位：首页Banner -->
	<script type="text/javascript" >BAIDU_CLB_SLOT_ID = "956838";</script>
	<script type="text/javascript" src="http://cbjs.baidu.com/js/o.js"></script>
	</div>
</div>
<style type="text/css">
.mp-ul-nav{
	margin-bottom: -15px;
}
</style>
<div class="row cz-home-all top-all" style="margin-top:30px;">
	<div class="col-md-9">
		<%= render 'flexslider' %>
	</div>
	<div class="col-md-3 mp-home-emphasis">
		<div class="em-title">
			每日重点
		</div>
		<ul>
			<% MpSet.where(cate_id: 0, cate: 5).order('updated_at desc').limit(14).each do |em| %>
			<li>
				<%= link_to truncate(em.title, length: 19), em.link, target: '_blank', title: em.title %>
			</li>
			<% end %>
		</ul>
		<div class="em-title" style="margin: 8px auto;">
			<a href="/topics/cate/104" target="_blank">摄影信息</a>
		</div>
		<ul>
			<% MpSet.where(cate_id: 0, cate: 8).order('updated_at desc').limit(5).each do |em| %>
			<li>
				<%= link_to truncate(em.title, length: 19), em.link, target: '_blank', title: em.title %>
			</li>
			<% end %>
		</ul>
	</div>
</div>
<!-- 编辑推荐作品 -->
<ul class="breadcrumb mp-ul-nav">
	<li>
		<span style="color:orange">
			<i class="icon-thumbs-up"></i>
			编辑推荐
		</span>
	</li>
</ul>
<div class="row cz-home-all recommends-all">
	<div class="col-md-6">
		<% day = MpSet.where(cate: 1).last %>
		<%= link_to day.link, class: 'thua', target: '_blank' do %>
			<%= image_tag(day.src) %>
			<div class="mp-overlay"></div>
			<div class="mp-gradient">
				<div class="nametxt"><%= day.title %></div>
			</div>
		<% end %>
	</div>
	<% [2, 3, 4, 7].each do |canub| %>
	<div class="col-md-3">
		<% obj = MpSet.where(cate: canub).last %>
		<%= link_to obj.link, class: 'thua', target: '_blank' do %>
			<%= image_tag(obj.src) %>
			<div class="mp-overlay"></div>
			<div class="mp-gradient">
				<div class="nametxt"><%= obj.title %></div>
			</div>
		<% end %>
	</div>
	<% end %>
</div>
<!-- 编辑推荐作品  end -->

<!-- 活动展示 -->
<ul class="breadcrumb mp-ul-nav">
	<li>
		<span style="color:orange">
			<i class="icon-flag"></i>
			漫拍活动
		</span>
	</li>
	<li>
		<%= link_to '更多...', events_path, target: '_blank' %>
	</li>
</ul>
<div class="row cz-home-all events-all">
	<% Event.totop.limit(4).each do |request| %>
	<div class="col-md-3">
		<%= link_to event_path(request) do %>
			<%= image_tag(request.logo.url(:thumb)) %>
			<div class="mp-overlay"></div>
			<div class="mp-gradient">
				<div class="nametxt"><%= request.name %></div>
			</div>
		<% end %>
	</div>
	<% end %>
</div>
<!-- 活动展示  end -->

<!-- 频道展示 -->
<ul class="breadcrumb mp-ul-nav">
	<li>
		<span style="color:orange">
			<i class="icon-flag"></i>
			漫拍频道
		</span>
	</li>
	<li>
		<%= link_to '更多...', events_path, target: '_blank' %>
	</li>
</ul>
<div class="row cz-home-all events-all">
	<% { people: '人文', landscapes: '风光', architecture: '建筑', animals: '动物', riding: '骑行', hiking: '徒步', car: '自驾', trips: '旅游' }.each do |k, v| %>
	<div class="col-md-3">
		<%= link_to events_path(tag: v) do %>
			<%= image_tag("/images/cates/#{k}.jpg?v=2") %>
			<div class="mp-overlay"></div>
			<div class="mp-gradient">
				<div class="nametxt"><%= v %></div>
			</div>
		<% end %>
	</div>
	<% end %>
</div>
<!-- 频道展示  end -->

<!-- <div class="row mp-home-top">
	<div class="col-md-8">
		<div class="ad">
			<%#= image_tag '/images/ads/wfqmsyj.jpg', alt: '潍坊全民摄影节' %>
		</div>
		<%#= render 'flexslider' %>
	</div>
	<div class="col-md-4 mp-home-emphasis">
		<div class="em-title">
			每日重点
		</div>
		<ul>
			<%# MpSet.where(cate_id: 0, cate: 5).order('updated_at desc').limit(14).each do |em| %>
			<li>
				<%#= link_to em.title, em.link, target: '_blank' %>
			</li>
			<%# end %>
		</ul>
	</div>
</div> -->
<%#= render "add_row" %>
<!-- <ul class="breadcrumb mp-ul-nav">
	<li>
		<a href="javascript:void(0);">
			<i class="icon-flag"></i>
			推荐活动
		</a>
	</li>
</ul>
<div class="row" style="margin: 10px -15px auto;">
	<%#= render partial: 'events/home_thumb', collection: Event.totop, as: :event %>
</div> -->

<ul class="breadcrumb mp-ul-nav">
	<li>
		<%= link_to photos_path(q: {n: 'news', o: 'id desc', s: 'cols', w: {tag_id: []}}), style: 'color:orange' do %>
		<i class="icon-cloud-upload"></i>
			最新上传
		<% end %>
	</li>
	<li>
		<%= link_to photos_path(q: {n: 'choi', o: 'choice_at desc', s: 'cols', w: {tag_id: []}}) do %>
		<i class="icon-desktop"></i>
			封面大图
		<% end %>
	</li>
	<li>
		<%= link_to photos_path(q: {n: 'recs', o: 'recommend_at desc', s: 'cols', w: {tag_id: []}}) do %>
		<i class="icon-thumbs-up"></i>
			编辑推荐
		<% end %>
	</li>
	<li>
		<%= link_to photos_path(q: {n: 'liks', o: 'liks_count desc', s: 'cols', w: {tag_id: []}}) do %>
		<i class="icon-heart"></i>
			喜欢最多
		<% end %>
	</li>
	<li>
		<%= link_to photos_path(q: {n: 'coms', o: 'coms_count desc', s: 'cols', w: {tag_id: []}}) do %>
		<i class="icon-comments"></i>
			评论最多
		<% end %>
	</li>
	<li>
		<%= link_to photos_path(q: {n: 'radm', o: 'randomhex desc', s: 'cols', w: {tag_id: []}}) do %>
		<i class="icon-random"></i>
			随机浏览
		<% end %>
	</li>
</ul>
<div class="row thumb-row">
	<!-- <%# Photo.where(parent_id: nil).limit(30).order('id desc').each do |p| %>
	<div class="col-md-2 col-xs-6">
		<%#= link_to_photo p, 'thumbnail' %>
	</div>
	<%# end %> -->
	<% Photo.where(["isgroup = ? and parent_id is not null or isgroup = ? and parent_id is null", true, false]).limit(30).order('id desc').each do |p| %>
	<div class="col-md-2 col-xs-6">
		<%= link_to_photo p, 'thumbnail' %>
	</div>
	<% end %>
</div>
<!-- <div class="row mp-photos">
	<%#= render partial: 'photos/thumb', collection: Photo.where(parent_id: nil).limit(8).order('id desc'), as: :photo %>
</div> -->

<!-- <ul class="breadcrumb mp-ul-nav">
	<li>
		<a href="javascript:void(0);">
			<i class="icon-tag"></i>
			选择您最感兴趣的标签
		</a>
	</li>
</ul>

<div class="category_thumbs">
	<div class="row">
		<a class="category people" target="_blank" href="/photos?tag=人">
			<div class="gradient">
				<span class="name">人文</span>
			</div>
		</a>
		<a class="category city-and-architecture" target="_blank" href="/photos?tag=城市建筑">
			<div class="overlay">
				<span>Beauty can be found in the everyday, the man-made.</span>
			</div>
			<div class="gradient">
				<span class="name">城市 &amp; 建筑</span>
			</div>
		</a>
		<a class="animals category last-child" target="_blank" href="/photos?tag=动物">
			<div class="overlay">
				<span>最好的时光是意外捕获.</span>
			</div>
			<div class="gradient">
				<span class="name">动物</span>
			</div>
		</a>
	</div>
	<div class="row">
		<a class="category landscapes" target="_blank" href="/photos?tag=风景">
			<div class="overlay">
				<span>从成千上万个像素，远闻到清新的空气.</span>
			</div>
			<div class="gradient">
				<span class="name">风景、山水</span>
			</div>
		</a>
		<a class="black-and-white category" target="_blank" href="/photos?tag=黑白">
			<div class="overlay">
				<span>摄影在其最纯粹的形式.</span>
			</div>
			<div class="gradient">
				<span class="name">黑白</span>
			</div>
		</a>
		<a class="category nature last-child" target="_blank" href="/photos?tag=自然">
			<div class="overlay">
				<span>自然情感的流露使得整个世界的亲属,远离北京才有.</span>
			</div>
			<div class="gradient">
				<span class="name">自然</span>
			</div>
		</a>
	</div>
	<div class="row">
		<a class="abstract category" target="_blank" href="/photos?tag=抽象">
			<div class="overlay">
				<span>不只是形状漂亮？反正小编欣赏不了</span>
			</div>
			<div class="gradient">
				<span class="name">抽象</span>
			</div>
		</a>
		<a class="category concert" target="_blank" href="/photos?tag=音乐会">
			<div class="overlay">
				<span>捕捉音乐的奇迹.</span>
			</div>
			<div class="gradient">
				<span class="name">音乐会</span>
			</div>
		</a>
		<a class="category macro last-child" target="_blank" href="/photos?tag=微距">
			<div class="overlay">
				<span>美在于细节.</span>
			</div>
			<div class="gradient">
				<span class="name">微距</span>
			</div>
		</a>
	</div>
</div> -->
<script type="text/javascript">
	$(function(){
		$(".cz-home-top, .background, .cz-home-content").css({height: $(window).height() - 70});
		// var windowHeight = $(window).height() - 70;
		// var p = 0,
		// 	t = 0,
		// 	timer;
		// $(window).bind("scroll", function(event){
		// 	var p = $(document).scrollTop();
		// 	clearTimeout(timer);
		// 	if(p <= (windowHeight)){
		// 		timer = setTimeout(function(){
		// 				if(t < p){// 向下
		// 					$("body, html").animate({scrollTop: windowHeight});
		// 				} else {// 向上
		// 					$("body, html").animate({scrollTop: 0});
		// 				}
		// 				t = p;
		// 		}, 100);
		// 	}
		// });
	});
</script>