<div class="col-sm-6 col-md-3">
	<div class="thumbnail">
		<%= link_to image_tag(event.logo(:thumb)), event_path(event), target: '_blank' %>
		<div class="caption">
			<%= link_to event_path(event), target: '_blank' do %>
				<h5>#<%= event.name %></h5>
			<% end %>
			<span>人数/图片:<%= event.members_count %>/<%= event.photos_count %></span>
			<span>结束时间:<%= event.end_time %></span>
		</div>
	</div>
</div>