<ul class="breadcrumb second-nav">
	<li>
		<%= link_to '全部活动', events_path %>
	</li>
	<li>
		<%= link_to '商业活动', events_path(tag: '商业活动') %>
	</li>
	<li>
		<%= link_to '同城活动', events_path(tag: '同城活动') %>
	</li>
	<li>
		<%= link_to '正在进行的活动', events_path(t: 'ongoing') %>
	</li>
	<li>
		<%= link_to '已结束的活动', events_path(t: 'closed') %>
	</li>
	<%#= link_to new_event_path, class: 'btn btn-xs btn-success pull-right', style: 'margin-right: -10px;' do %>
		<!-- <i class="icon-flag"></i>
		发起活动 -->
	<%# end %>
</ul>
<div class="row">
	<% @events.each do |event| %>
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<%= link_to image_tag(event.logo(:thumb)), event_path(event), target: '_blank' %>
				<div class="caption">
					<%= link_to event_path(event), target: '_blank' do %>
						<h5>#<%= event.name %>#</h5>
					<% end %>
					<p>
						<%= truncate(event.desc.gsub("<br>", "\r\n"), length: 50) %>
					</p>
					<span>人数/图片:<%= event.members_count %>/<%= event.photos_count %></span>
					<span>结束时间:<%= event.end_time %></span>
				</div>
			</div>
		</div>
	<% end %>
</div>
<%= will_paginate @events %>