<ul class="breadcrumb second-nav">
	<li>
		<%= link_to '全部活动', events_path %>
	</li>
	<li>
		<%= link_to '商业活动', events_path(tag: '商业活动') %>
	</li>
	<li>
		<%= link_to '同城活动', events_path(tag: '同城活动') %>
	</li>
	<li>
		<%= link_to '正在进行的活动', events_path(t: 'ongoing') %>
	</li>
	<li>
		<%= link_to '已结束的活动', events_path(t: 'closed') %>
	</li>
	<%#= link_to new_event_path, class: 'btn btn-xs btn-success pull-right', style: 'margin-right: -10px;' do %>
		<!-- <i class="icon-flag"></i>
		发起活动 -->
	<%# end %>
</ul>
<div class="row">
	<%= render partial: 'thumb', collection: @events, as: :event %>
</div>
<%= will_paginate @events %>