<div class="row">
    <div class="col-md-12">
        <div class="white-col-md">
            <div class="page-header">
                <h4>
                    发布活动
                    <small>
                        申请成功后需要管理员审核
                    </small>
                </h4>
            </div>
            <%= simple_form_for Event.new, validate: true do |f| %>
                <%= f.input :logo %>
                <%= f.input :name %>
                <%= f.input :title %>
                <%= f.input :end_time, as: :datepicker, picker: {
                    'date-startdate' => Date.today, 
                    'date-enddate' => 2.years.from_now.to_date.to_s} %>
                <%= f.input :tag %>
                <%= f.input :desc, as: :text, input_html:{rows: 3} %>
                <%= f.submit '保存', class: 'btn btn-default btn-primary col-sm-offset-2', style: 'margin-bottom:20px' %>
            <% end %>
        </div>
    </div>
</div>
