<div class="row">
	<div class="col-md-12 mp-request-show">
		<div class="page-header">
			<h4>
				<%= @event.title %>
				<small>
					<a class="text-success"><%= @event.photos_count %></a>张图片&nbsp;&nbsp;
					<a class="text-success"><%= @event.members_count %></a>人参加
				</small>
				<%= link_to '上传到本活动', new_photo_path(request_id: @event.id), class: 'btn btn-success btn-sm pull-right mp-sign', style: 'margin-top:-4px;' %>
			</h4>
		</div>
		<div class="mp-page">
			<div class="media">
				<div class="media-object pull-left">
					<%= image_tag @event.logo(:big) %>
				</div>
				<div class="media-body">
					<h4 class="media-heading">活动公告
						<small>活动里的推荐</small>
					</h4>
					<hr>
					<ul>
						<% MpSet.where(cate_id: @event.id).each do |em| %>
						<li>
							<%= link_to em.title, em.link, target: '_blank' %>
						</li>
						<% end %>
					</ul>
				</div>
			</div>
			<div class="event-content gray-desc">
				<%= sanitize @event.desc %>
			</div>
		</div>
		<ul class="breadcrumb">
			<% ["news", "choi", "vist", "coms", "myse"].each do |name|%>
			<% item = Photo::ORDER[name] %>
			<li>
				<% if params[:q][:n].eql?(name) %>
					<%= link_to item[-1], 'javascript:void(0);', class: 'activity' %>
				<% else %>
					<%= link_to item[-1], event_path(@event.id, q: params[:q].merge(n: name, o: item[0])) %>
				<% end %>
			</li>
			<% end %>
			<li>
				<% if action_name.eql?('comment') %>
					<%= link_to '活动留言', comment_event_path(@event.id), class: 'activity' %>
				<% else %>
					<%= link_to '活动留言', 'javascript:void(0);' %>
				<% end %>
			</li>
			<div class="pull-right">
				<% if params[:q][:s].eql?('cols') %>
					<%= link_to event_path(q: params[:q].merge(s: :line)) do %>
						<span class="icon-align-justify"></span>
					<% end %>
					<%= link_to 'javascript:void(0);', class: 'activity' do %>
						<span class="icon-th"></span>
					<% end %>
				<% else %>
					<%= link_to 'javascript:void(0);', class: 'activity' do %>
						<span class="icon-align-justify"></span>
					<% end %>
					<%= link_to event_path(q: params[:q].merge(s: :cols)) do %>
						<span class="icon-th"></span>
					<% end %>
				<% end %>
			</div>
		</ul>
		<% if params[:q][:s].eql?('cols') %>
		<div class="row mp-photos" id="mp-photos">
			<div id="page_loading" page="1" state="static" url="<%= waterfall_photos_path(q: params[:q]) %>">
				<img src="/images/loading.gif">
				<span>加载中...</span>
			</div>
		</div>
		<% else %>
		<div class="row line-photos">
			<div class="col-md-12" id="mp-photos">
				<div id="page_loading" page="1" state="static" url="<%= waterfall_photos_path(q: params[:q]) %>">
					<img src="/images/loading.gif">
					<span>加载中...</span>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>