<div class="row">
	<div class="col-md-12">
		<div class="white-col-md">
			<div class="row">
				<div class="col-md-12">
					<div class="page-header">
						<h4>
							<%= @event.title %>
							<small>
								<a class="text-success"><%= Image.count(conditions: {event_id: @event.id}) %></a>张图片&nbsp;&nbsp;
								<a class="text-success"><%= @event.members_count %></a>人参加
							</small>
							<%= link_to '上传到本活动', new_work_path(eid: @event.id), class: 'btn btn-success btn-sm pull-right', style: 'margin-top:-4px;' %>
						</h4>
					</div>
					<div class="mp-page">
						<div class="media">
							<div class="media-object pull-left">
								<%= image_tag @event.logo(:big) %>
							</div>
							<div class="media-body">
								<h4 class="media-heading">活动公告
									<small>活动里的推荐</small>
								</h4>
								<hr>
								<ul>
									<% 5.times do %>
									<li>
										<a href="">活动里的推荐</a>
									</li>
									<% end %>
								</ul>
							</div>
						</div>
						<div class="event-content gray-desc">
							<%= sanitize @event.desc %>
						</div>
					</div>

					<ul class="breadcrumb" style="margin-bottom: 10px;">
						<li>
							<%= link_to '最新上传', event_path(@event.id, o: 'id desc') %>
						</li>
						<li>
							<%= link_to '人气最高', event_path(@event.id, o: 'visits_count desc') %>
						</li>
						<li>
							<%= link_to '评论最多', event_path(@event.id, o: 'comments_count desc') %>
						</li>
					</ul>
					<div class="row">
						<% @works.each do |work| %>
							<div class="col-sm-6 col-md-3">
								<div class="thumbnail">
									<%= link_to image_tag(work.cover.picture(:cover)), work_path(work.id), target: '_blank' %>
									<div class="caption caption-border">
										<div style="margin: 6px 0;">
											<%= work.desc.present? ? work.desc : "暂无描述" %>
										</div>
										<span>上传时间:<%= work.created_at.to_date %></span>
										<span class="pull-right" style="color: red;">组图(<%= work.images_count %>)张</span>
									</div>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
