<script type="text/javascript" src="/javascripts/profile.js"></script>
<%= simple_form_for current_user, url: '/settings/information', method: :post, validate: true do |f| %>
	<%= f.input :username, disabled: true %>
	<%= f.input :email, disabled: true %>
	<%= f.input :mobile %>
	<%= f.input :province, as: :hidden %>
	<%= f.input :city, as: :hidden %>
	<div class="form-group string choose-point">
		<label class="string optional col-sm-2 control-label" for="choose-point">常驻地</label>
		<div class="col-sm-6 input-text-add">
			<div class="input-group custom-modal" id="choose-point">
				<input class="form-control" type="text" readonly="" id="city-input" value="<%= current_user.addr %>">
				<span class="input-group-addon">
					<i class="icon-map-marker"></i>
				</span>
			</div>
		</div>
	</div>
	<%= f.input :gender, :collection => [['男',true] ,['女', false]], :as => :radio_buttons, :item_wrapper_class => 'radio-inline' %>
	<%= f.input :site %>
	<%= f.input :domain, disabled: current_user.domain.present? %>
	<%= f.input :profession %>
	<%= f.input :duty, :as => :datepicker %>
	<div class="form-group string optional user_warrant">
		<label class="col-sm-2 control-label">版权声明</label>
		<div class="col-sm-6 input-text-add">
			<div id="agreement" style="margin-bottom: 15px;">
				<% $warrant.each do |k, v| %>
				<div class="warrant-row">
					<input type="radio" id="warrant<%= k %>" name="user[warrant]" value="<%= k %>" <%= 'checked=""' if current_user.warrant.eql?(k) %>>
					<label for="warrant<%= k %>">
						<% v[:style].each do |row| %>
							<span class="cc-<%= row %>"></span>
						<% end %>
						<span class="cc-h"><%= v[:name] %></span>
					</label>
				</div>
				<% end %>
			</div>
		</div>
	</div>
	<%= f.input :resume, as: :text, input_html:{rows: 3} %>
	<%= f.submit '保存', class: 'btn btn-default col-sm-offset-7' %>
<% end %>
<div class="modal fade" id="custom-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">常驻地选择</h4>
			</div>
			<div class="modal-body">
				<div class="provinces"></div>
				<div class="cities"></div>
			</div>
		</div>
	</div>
</div>

<style type="text/css">
.agreement-nav{
	margin-top: 6px;
}
.city-row{
	margin-right: 10px;
}
.cities{
	border-top: 1px solid #ccc;
	margin-top: 10px;
	padding-top: 10px;
}
</style>