<div class="row">
	<div class="col-sm-12 col-md-12">
		<h3 class="heading">
			作品-<%= @work.id %>
			<small>个人用户数据,切勿随意修改!!</small>
		</h3>
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<div class="vcard">
					<ul>
						<li class="v-heading">详细信息</li>
						<li>
							<span class="item-key">图片</span>
							<div class="vcard-item">
								<%= image_tag @work.cover.picture(:thumb), style: 'max-width: 80px;' %>
							</div>
						</li>
						<li>
							<span class="item-key">标题</span>
							<div class="vcard-item"><%= @work.title %></div>
						</li>
						<li>
							<span class="item-key">描述</span>
							<div class="vcard-item"><%= @work.desc %></div>
						</li>
						<li>
							<span class="item-key">类型</span>
							<div class="vcard-item"><%= @work.warrant %></div>
						</li>
						<li>
							<span class="item-key">显示方式</span>
							<div class="vcard-item"><%= @work.event.name %></div>
						</li>
						<li>
							<span class="item-key">上传时间</span>
							<div class="vcard-item"><%= @work.created_at.to_s(:db) %></div>
						</li>
						<li class="v-heading">
							作品集
						</li>
						<li>
							
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>