<div class="modal fade">
    <div class="modal-dialog">
        <%= simple_form_for ['my', @album], validate: true do |f| %>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><%= @album.new_record? ? '创建相册' : '修改相册' %></h4>
                    <!-- 为scope声明,不然uniq album name 无效 -->
                    <%= f.input_field :user_id, type: :hidden, value: current_user.id %>
                </div>
                <div class="modal-body">
                    <%= f.input :name %>
                    <%= f.input :publish, :collection => [['所有人',true] ,['仅自己', false]], :as => :radio_buttons, :item_wrapper_class => 'radio-inline' %>
                    <%= f.input :desc, as: :text %>
                </div>
                <div class="modal-footer">
                    <%= f.submit @album.new_record? ? '创建' : '修改', class: 'btn btn-primary pull-right' %>
                </div>
            </div>
        <% end %>
    </div>
</div>