<link rel="stylesheet" type="text/css" href="/uploadify/uploadify.css">
<link rel="stylesheet" type="text/css" href="/uploadify/jquery.imgareaselect.css" />
<script type="text/javascript" src="/uploadify/jquery.uploadify.js"></script>
<script type="text/javascript" src="/uploadify/jquery.imgareaselect.js"></script>
<script type="text/javascript" src="/uploadify/uploadify-avatar.js"></script>

<div class="row upload-row">
	<div class="col-md-5" style="border-right: 1px solid #ccc;min-height:300px;">
		<%= image_tag current_user.avatar.url, id: 'cut-area', class: 's300' %>
	</div>
	<div class="col-md-7">
		<div class="row">
			<p class="text-left" style="margin-left: 15px;">您上传的图片将自动生成3种尺寸头像，请注意中小尺寸的头像是否清晰</p>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="review s200">
					<%= image_tag current_user.avatar.url, class: 's200' %>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="review s100">
						<%= image_tag current_user.avatar.url, class: 's100' %>
					</div>
				</div>
				<div class="row" style="margin-top: 40px">
					<div class="review s50">
						<%= image_tag current_user.avatar.url, class: 's50' %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<%= form_tag "/u/cut", style: 'width 120px;height:30px;' %>
		<input type="hidden" id='c_x' name='x'>
		<input type="hidden" id='c_y' name='y'>
		<input type="hidden" id='c_w' name='w'>
		<input type="hidden" id='c_h' name='h'>
		<input type="submit" class="disabled btn btn-default btn-sm" id='cutThis' value='完成' style="width: 120px;border-radius: 0;margin: 30px 0 0 15px;">
	</form>
</div>
<div class="upload-div" style="margin: 20px 0;">
	<input class="form-control" id="upload-file">
</div>