<%= form_tag '/my/set/push', class: 'form-horizontal' do %>
	<div class="form-group">
		<label class="col-sm-2 control-label">邮件提醒</label>
		<div class="col-sm-10">
			<% Accept::TIP.each do |key, val| %>
				<label class="checkbox-inline">
					<input type="checkbox" name="accept[<%= key %>_mail]" <%= "checked='checked'" if @accept.try("#{key}_mail") %>>
					<span><%= val %></span>
				</label>
			<% end %>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">站内通知</label>
		<div class="col-sm-10">
			<% Accept::TIP.each do |key, val| %>
				<label class="checkbox-inline">
					<input type="checkbox" name="accept[<%= key %>_notice]" <%= "checked='checked'" if @accept.try("#{key}_notice") %>>
					<span><%= val %></span>
				</label>
			<% end %>
		</div>
	</div>
	<input type="submit" value="保存" class="btn btn-default col-sm-offset-2">
<% end %>