<div class="col-sm-12 col-md-12">
	<h3 class="heading">发送通知</h3>
	<%= simple_form_for @send, url: admin_sends_path, validate: true do |f| %>
	<%= f.input :title %>
	<%= f.input :content, as: :text %>
	<%= f.input :tag,    collection: Send::TAG,    include_blank: false %>
	<%= f.input :target, collection: Send::TARGET, include_blank: false %>
	<div class="form-group">
		<div class="col-sm-8 col-sm-offset-2">
			<input type="submit" value="发送" class="btn btn-default">
		</div>
	</div>
	<% end %>
</div>