<div class="row">
	<div class="col-sm-12 col-md-12">
		<h3 class="heading">
			通知详细信息-<%= @send.id %>
			<small> <%= link_to '删除', admin_send_path(@send), method: :delete, data: {confirm: '确定删除？不可恢复操作!' }, class: 'btn btn-danger btn-xs' %></small>
		</h3>
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<div class="vcard">
					<ul>
						<li class="v-heading">详细信息</li>
						<li>
							<span class="item-key">通知标题</span>
							<div class="vcard-item"><%= @send.title %></div>
						</li>
						<li>
							<span class="item-key">通知内容</span>
							<div class="vcard-item"><%= @send.content %></div>
						</li>
						<li>
							<span class="item-key">通知类型</span>
							<div class="vcard-item"><%= @send.tag %></div>
						</li>
						<li>
							<span class="item-key">通知人群</span>
							<div class="vcard-item"><%= @send.target %></div>
						</li>
						<li>
							<span class="item-key">通知状态</span>
							<div class="vcard-item">成功推送</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>