<%= simple_form_for ['admin', @ad], validate: true do |f| %>
	<%= f.error_notification %>
	<div class="form-group file optional site_ad_photo">
		<%= f.label :photo %>
		<div class="col-sm-6 input-text-add">
			<%= image_tag(@ad.photo.url, style: 'height:80px;margin-bottom:10px;') unless @ad.new_record? %>
			<%= f.input_field :photo %>
		</div>
	</div>
	<%= f.input :target %>
	<%= f.input :t, collection: Ad::ADTYPE.invert, include_blank: false %>
	<%= f.input :s, collection: Ad::ADSHOW.invert, include_blank: false %>
	<%= f.input :title %>
	<%= f.input :desc, as: :text %>
	<div class="form-group">
		<div class="col-sm-8 col-sm-offset-2">
			<input type="submit" value="保存ad" class="btn btn-default">
		</div>
	</div>
<% end %>
