<div class="photo-details active disabled">
	<div class="wrapper clearfix">
		<div class="exif">
			<h4 class="disabled">标题</h4>
			<label class="ui small-badge" for="photo-{{id}}-title">编辑</label>
			<div class="photo-title">
				<input class="ui large-textfield" id="photo-{{id}}-title" name="photo[{{id}}][title]" placeholder="Untitled Photo" type="text" disabled="disabled"></div>
			<div class="photo-request">
				<h4 class="disabled">活动</h4>
				<label class="ui select-label">
					<select class="ui select" id="photo-{{id}}-request_id" name="photo[{{id}}][request_id]" disabled="disabled">
						<option value="">选择活动</option>
						<% Event.ongoing.select('id, name').each do |event| %>
							<% if @event and @event.id.eql?(event.id) %>
							<option value="<%= event.id %>" selected="selected"><%= event.name %></option>
							<% else %>
							<option value="<%= event.id %>"><%= event.name %></option>
							<% end %>
						<% end %>
					</select>
					<span class="ui select-arrow"></span>
				</label>
			</div>
			<div class="place-photo">
				<h4 class="disabled">相册</h4>
				<div class="create_new_set_wrap">
					<label class="ui small-badge create-new-set disabled" for="photo-create_new_set">创建相册</label>
				</div>
				<div class="confirm_new_set_wrap">
					<label class="ui small-badge confirm-new-set active" for="photo-confirm_new_set">创建</label>
					<label class="ui small-badge next-badge cancel-new-set" for="photo-cancel_new_set">取消</label>
				</div>
				<div class="place_selection_creation_wrap">
					<div class="place_selection_wrap">
						<label class="ui select-label">
							<select class="ui select" id="photo-{{id}}-album_id" name="photo[{{id}}][album_id]" disabled="disabled">
								<option>选择相册</option>
							</select>
							<span class="ui select-arrow"></span>
						</label>
					</div>
					<div class="set_name_field_wrap">
						<div class="set_name_field">
							<div class="error_wrap"></div>
							<input placeholder="相册名称..." type="text" disabled="disabled"></div>
						<div class="cf"></div>
					</div>
				</div>
			</div>
			<div class="photo-exif">
				<h4 class="disabled">
					<span class="translation_missing" title="照片Exif信息">Exif</span>
				</h4>
				<div class="set_defaults_wrap">
					<label class="ui small-badge set-defaults" for="photo-set_default">使用这些默认值</label>
				</div>
				<div class="metadata">
					<div class="labels">
						<label>
							型号
							<input class="ui small-invisible-textfield" id="photo-{{id}}-exif-camera" name="photo[{{id}}][exif][camera]" placeholder="Set Camera" type="text" disabled="disabled"></label>
						<label>
							镜头
							<input class="ui small-invisible-textfield" id="photo-{{id}}-exif-lens" name="photo[{{id}}][exif][lens]" placeholder="Set Lens" type="text" disabled="disabled"></label>
						<label>
							焦距
							<input class="ui small-invisible-textfield" id="photo-{{id}}-exif-focal_length" name="photo[{{id}}][exif][focal_length]" placeholder="Set Focal Length" type="text" disabled="disabled"></label>
						<label>
							快门速度
							<input class="ui small-invisible-textfield" id="photo-{{id}}-exif-shutter_speed" name="photo[{{id}}][exif][shutter_speed]" placeholder="Set Shutter Speed" type="text" disabled="disabled"></label>
						<label>
							光圈
							<input class="ui small-invisible-textfield" id="photo-{{id}}-exif-aperture" name="photo[{{id}}][exif][aperture]" placeholder="Set Aperture" type="text" disabled="disabled"></label>
						<label>
							ISO
							<input class="ui small-invisible-textfield" id="photo-{{id}}-exif-iso" name="photo[{{id}}][exif][iso]" placeholder="Set ISO" type="text" disabled="disabled"></label>
						<label>
							拍摄时间
							<input class="ui small-invisible-textfield" id="photo-{{id}}-exif-taken_at" name="photo[{{id}}][exif][taken_at]" placeholder="Set Date (dd/mm/yyyy)" type="text" disabled="disabled"></label>
					</div>
				</div>
			</div>
		</div>
		<div class="description">
			<div class="description-field">
				<h4 class="disabled">描述</h4>
				<textarea class="ui textarea" cols="70" id="photo-{{id}}-desc" name="photo[{{id}}][desc]" placeholder="照片描述" disabled="disabled"></textarea>
			</div>
			<div class="license-select">
				<div>
					<h4 class="disabled">授权声明</h4>
					<div class="license-icon icons-licenses_0"></div>
					<div class="clearfix"></div>
				</div>
				<div>
					<div class="warrant-row">
						<input type="radio" id="photo-{{id}}-warrant0" name="photo[{{id}}][warrant]" value="0" disabled="disabled">
						<label for="photo-{{id}}-warrant0">
							<span class="cc-1"></span>
							<span class="cc-2"></span>
							<span class="cc-3"></span>
							<span class="cc-h">署名-非商业使用-禁止演绎</span>
						</label>
					</div>
					<div class="warrant-row">
						<input type="radio" id="photo-{{id}}-warrant1" name="photo[{{id}}][warrant]" value="1" disabled="disabled">
						<label for="photo-{{id}}-warrant1">
							<span class="cc-1"></span>
							<span class="cc-2"></span>
							<span class="cc-4"></span>
							<span class="cc-h">署名-非商业使用-相同方式共享</span>
						</label>
					</div>
					<div class="warrant-row">
						<input type="radio" id="photo-{{id}}-warrant2" name="photo[{{id}}][warrant]" value="2" disabled="disabled">
						<label for="photo-{{id}}-warrant2">
							<span class="cc-1"></span>
							<span class="cc-2"></span>
							<span class="cc-5"></span>
							<span class="cc-h">署名-非商业使用</span>
						</label>
					</div>
					<div class="warrant-row">
						<input type="radio" id="photo-{{id}}-warrant3" name="photo[{{id}}][warrant]" value="3" disabled="disabled">
						<label for="photo-{{id}}-warrant3">
							<span class="cc-1"></span>
							<span class="cc-3"></span>
							<span class="cc-5"></span>
							<span class="cc-h">署名-禁止演绎</span>
						</label>
					</div>
					<div class="warrant-row">
						<input type="radio" id="photo-{{id}}-warrant4" name="photo[{{id}}][warrant]" value="4" disabled="disabled">
						<label for="photo-{{id}}-warrant4">
							<span class="cc-1"></span>
							<span class="cc-4"></span>
							<span class="cc-5"></span>
							<span class="cc-h">署名-相同方式共享</span>
						</label>
					</div>
					<div class="warrant-row">
						<input type="radio" id="photo-{{id}}-warrant5" name="photo[{{id}}][warrant]" value="5" checked='checked' disabled="disabled">
						<label for="photo-{{id}}-warrant5">
							<span class="cc-1"></span>
							<span class="cc-5"></span>
							<span class="cc-5"></span>
							<span class="cc-h">署名</span>
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="map">
			<div class="tag-textfield">
				<h4 class="disabled">标签</h4>
				<div class="tag-tip">
					标签作为关键词可以被搜索到
				</div>
				<div class="tag-count">最多5个标签</div>
				<div class="tags_field_wrap">
					<div class="tags_input_wrap">
						<div class="tag_field">
							<input placeholder="添加标签让照片更容易找到..." disabled="disabled" type="text" autocomplete="off" style="width:370px;">
						</div>
					</div>
					<div class="cf"></div>
				</div>
				<div class="tag-changyong">
					<% Tag.order('sum desc').limit(40).each do |tag| %>
						<%= link_to tag.name, "javascript:void(0);", class: 'disabled' %>
					<% end %>
				</div>
			</div>
			<div class="geotagging">
				<h4 class="disabled">坐标</h4>
				<div class="map-wrapper">
					<div class="maplet hidden_map_image" id="GDMAP-{{id}}"></div>
				</div>
			</div>
		</div>
	</div>
</div>