<div class="photo-box">
	<h4>作品描述</h4>
	<div class="description_text_wrap">
		<div class="description" style="font-size:12px;"><%= @photo.desc.blank? ? '描述未填写' : @photo.desc %></div>
		<div class="photo-show-tags">
			<% @photo.tags.to_s.split(",").each do |tag| %>
			<span class="photo-show-tag">
				<a href="javascript:void(0);" target="_blank">#<%= tag %></a>
			</span>
			<% end %>
			<% if event = @photo.event %>
			<span class="photo-show-tag">
				<%= link_to '#' + event.name, event_path(event.id), target: '_blank' %>
			</span>
			<% end %>
		</div>
	</div>
</div>
<div class="photo-box">
	<h4>EXIF信息</h4>
	<div class="exif_wrap">
		<ul class="list-unstyled">
			<% exif_hash = JSON.parse(@photo.exif) rescue {} %>
			<% Photo::EXIF.each do |key, val| %>
			<li class="exif_<%= key %>">
				<div>
					<%= val %>
				</div>
				<span>
					<%= exif_hash[key] || '--' %>
				</span>
			</li>	
			<% end %>
		</ul>
	</div>
</div>
<div class="photo-box">
	<h4>拍摄地点</h4>
	<div class="map_wrap" id="map">
		<img src="/images/disabled_map.jpg" class="hidemap">
	</div>
</div>
<div class="photo-box">
	<div class="shortcuts_wrap">
		<ul class="list-unstyled">
			<li>
				<a class="key" data-key="l">L</a>
				<span class="label">喜欢</span>
			</li>
			<li>
				<a class="key index-finger" data-key="f">F</a>
				<span class="label">收藏</span>
			</li>
			<li>
				<a class="key" data-key="m">M</a>
				<span class="label">放大</span>
			</li>
			<li>
				<a class="key" data-key="h">H</a>
				<span class="label">聚焦</span>
			</li>
			<li>
				<a class="key" data-key="left">&nbsp;</a>
				<span class="label">上一张</span>
			</li>
			<li>
				<a class="key" data-key="right">&nbsp;</a>
				<span class="label">下一张</span>
			</li>
		</ul>
		<a href="">举报</a>
	</div>
</div>
<% lat, lon = exif_hash['lat'], exif_hash['lon'] %>
<% if lat.present? and lon.present? %>
	<script type="text/javascript">
	function initMap() {
		mapObj = new AMap.Map("map", {
			center: new AMap.LngLat(<%= lon %>, <%= lat %>),
			level: 15
		});
		var marker = new AMap.Marker({
			position: mapObj.getCenter(),
			draggable: false, //点标记可拖拽
			cursor: 'move',  //鼠标悬停点标记时的鼠标样式
		});
		marker.setMap(mapObj);
	}
	function loadScript() {
		var script = document.createElement("script");
		script.type = "text/javascript";
		script.src = "http://webapi.amap.com/maps?v=1.2&key=10d1d60d190ea6522adeca60343e5821&callback=initMap";
		document.body.appendChild(script);
	}
	window.onload = loadScript;
	</script>
<% end %>