<div class="row" style="height:180px;">
	<div class="col-md-8" style="border-right: 1px solid #F8F8F8;">
		<h4>
			<%= photo.title || '标题未填写' %>
			<small>
				<%= '组图' %>照片
			</small>
			<div class="pull-right">
				<% if prev = photo.prev %>
					<%= link_to photo_path(prev), class: 'btn btn-default btn-xs' do %>
						<i class="icon-arrow-left"></i>
						上一张
					<% end %>
				<% else %>
					<%= link_to 'javascript:void(0);', class: 'btn btn-default btn-xs disabled' do %>
						<i class="icon-arrow-left"></i>
						上一张
					<% end %>
				<% end %>
				<% if nextp = photo.next %>
					<%= link_to photo_path(nextp), class: 'btn btn-default btn-xs' do %>
						下一张
						<i class="icon-arrow-right"></i>
					<% end %>
				<% else %>
					<%= link_to 'javascript:void(0);', class: 'btn btn-default btn-xs disabled' do %>
						下一张
						<i class="icon-arrow-right"></i>
					<% end %>
				<% end %>
			</div>
		</h4>
		<p class="gray-desc"><%= @photo.desc %>述图描述图片的一些一些描述图片的一些一些描述图片的一些一些描述图片的一些一些描述图片的一些一些描述图片的一些一些描述图片的一些一些描述图片的一些一些描述图片的一些一些描述图片的一些一些描述图片的一些一些描述</p>
		<p>
			标签:
			<a href="">摄影</a>
			<a href="">Iphone</a>
		</p>
		<p>
			分享:
			<a href=""></a>
		</p>
	</div>
	<div class="col-md-4" style="margin-top:10px;">
		<div class="basic-info">
			<%= link_to image_tag(photo.user.avatar(:s50), class: 'img-circle avatar'), user_path(photo.user_id), style: 'float:left;margin-right:10px;' %>
			<div>
				<%= link_to photo.user.username, user_path(photo.user_id) %></div>
			<div class="basic-tui" style="margin-top:8px;">
				<%= link_to_follow(photo.user_id) %>
				<%= link_to write_my_msgs_path(photo.user_id), class: 'btn btn-default btn-xs' do %> 
				<i class="icon-envelope"></i>
				私信
				<% end %>
			</div>
		</div>
		<div class="basic-attr" style="margin: 15px auto;">
			作品
			<a href="">
				<%= photo.user.works.count %>
			</a>
			|
			喜欢
			<a href="">0</a>
			|
			关注
			<a href="">
				<%= photo.user.fols_count %>
			</a>
		</div>
		<p>
			浏览:
			<%= photo.visit_count %>
			<br>
			喜欢:
			<%= photo.liks_count %>
			<br>
			收藏:
			<%= photo.stos_count %>
			<br>
			时间:
			<%= humanize(photo.updated_at) %>
		</p>
	</div>
</div>