<div class="col-sm-6 col-md-3">
    <div class="thumbnail">
        <div class="actions fade-row">
            <%= link_to_push 'like', image %>
            <%= link_to_push 'store', image %>
            <%= link_to_push 'recom', image %>
            
            <% if @event and sign_in?  %>
                <%= link_to_editer_recom image, @event, @tuis.map(&:obj_id) %>
            <% end %>
        </div>
        <%= link_to image_tag(image.picture.url(:thumb), wh: image.wh), photo_path(image), style: 'display:block', target: '_blank' %>
        <div class="caption">
            <div><%= image.desc %></div>
            <span class="push-likes-<%= image.id %>-effect" title="喜欢">喜欢(<%= image.liks_count %>)</span>
            <span class="push-stores-<%= image.id %>-effect" title="收藏">收藏(<%= image.stos_count %>)</span>
            <span class="push-recoms-<%= image.id %>-effect" title="推荐">推荐(<%= image.recs_count %>)</span>
            <span class="date pull-right"><%= humanize image.created_at %></span>
            <% if event = image.event %>
            <hr style="margin: 4px auto;">
            <%= link_to "##{event.name}", event_path(event.id), target: '_blank' %>
            <% end %>
            <!-- <div class="thumb-basic">
                <%#= link_to image_tag(image.user.avatar(:s50), class: 'img-circle avatar-mini'), user_path(image.user_id), class: 'pull-left' %>
                <div class="thumb-basic-body" style="margin-left: 45px;">
                    <div>
                        <%#= link_to image.user.username, user_path(image.user_id) %>
                        <span>(<%#= image.user.followers_count %>)</span>
                        <%#= link_to_follow image.user_id, '' %>
                        <%#= link_to '去评论', photo_path(image), class: 'pull-right' %>
                    </div>
                    <span class="date"><%#= humanize image.created_at %></span>
                </div>
            </div> -->
        </div>
    </div>
</div>