<div class="mp-large-pitem">
	<div class="mp-large-picture-top">
		上传于 <%= photo.created_at.to_s(:db) %>  查看 (<%= photo.visit_count %>)   评论 (<%= photo.coms_count %>)   喜欢(<%= photo.liks_count %>)   收藏(<%= photo.stos_count %>)
	</div>
	<div class="mp-large-picture">
		<%#= link_to image_tag(photo.picture(:large)), photo_path(photo), class: 'mp-large-link' %>
		<%= link_to image_tag('/images/default_load_photo.gif', 'data-original' => photo.picture.url(:large)), photo_path(photo), class: 'mp-large-link' %>
		<%= render 'photos/exif_n', photo: photo %>
	</div>
	<div class="mp-large-picture-bottom">
		<div class="mp-tb-item">
			<%= photo.desc %>
		</div>
		<div class="editor_opt mp-tb-item lastright">
			<% if current_user and (current_user.admin or Editor.exists?(event_id: photo.event_id, editor_id: current_user.id)) %>
				<% if photo.recommend %>
				<a href="/ajax/rec/photo/<%= photo.id %>" class="mp-ajax-tui active" data-type="rec">
					取消精选
				</a>
				<% else %>
				<a href="/ajax/rec/photo/<%= photo.id %>" class="mp-ajax-tui" data-type="rec">
					推荐精选
				</a>
				<% end %>
			<% end %>
			<% if current_user and current_user.admin %>
				<% if photo.choice %>
				<a href="/ajax/cho/photo/<%= photo.id %>" class="mp-ajax-tui active" data-type="cho">
					取消每日一图
				</a>
				<% else %>
				<a href="/ajax/cho/photo/<%= photo.id %>" class="mp-ajax-tui" data-type="cho">
					每日一图
				</a>
				<% end %>
			<% end %>
			<a href="/ajax/lik/photo/<%= photo.id %>", class="mp-ajax-tui <%= 'active' if current_user and photo.liks?(current_user) %>", data-type="lik">
				喜欢(<span class="count"><%= photo.liks_count %></span>)
			</a>
			<a href="/ajax/sto/photo/<%= photo.id %>", class="mp-ajax-tui <%= 'active' if current_user and photo.stos?(current_user) %>", data-type="sto">
				收藏(<span class="count"><%= photo.stos_count %></span>)
			</a>
			<% if sign_in? %>
				<%= link_to "评论(#{photo.coms_count})", 'javascript:void(0);', class: 'gocomment' %>
			<% else %>
				<%= link_to "评论(#{photo.coms_count})", 'javascript:void(0);', class: 'mp-sign' %>
			<% end %>
			<% if current_user and (current_user.admin || current_user.id.eql?(photo.user_id)) %>
				<%= link_to '查看原图', photo.picture.url, target: '_blank' %>
				<% if current_user.id.eql?(photo.user_id)%>
				<%= link_to '删除', "/ajax/del/photo/#{photo.id}", class: 'mp-ajax-del' %>
				<% end %>
			<% end %>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<hr class="hr-0">