<div class="images-second-nav">
    <ul class="breadcrumb second-nav">
        <%
        data = {
            'news'   => ['upload', '最新上传'],
            'likes'  => ['heart', '喜欢最多'],
            'hot'    => ['comments', '评论最多'],
            'push'   => ['ok-circle', '编辑推荐'],
            'choice' => ['time', '每日精选']
        }
        %>
        <% data.each do |key, val| %>
        <li>
            <% if params[:order].eql?(key) %>
                <%= link_to 'javascript:void(0);', style: 'color:#999;' do %>
                    <i class="icon-<%= val[0] %>"></i>
                    <%= val[1] %>
                <% end %>
            <% else %>
                <%= link_to photos_path(order: key) do %>
                    <i class="icon-<%= val[0] %>"></i>
                    <%= val[1] %>
                <% end %>
            <% end %>
        </li>
        <% end %>
        <li>
            <% if action_name == "random" %>
                <%= link_to random_photos_path, style: 'color:orange;' do %>
                    <i class="icon-random"></i>
                    随机浏览
                <% end %>
            <% else %>
                <%= link_to random_photos_path do %>
                    <i class="icon-random"></i>
                    随机浏览
                <% end %>
            <% end %>
        </li>
        <li>
            <% if action_name == "star" %>
                <%= link_to 'javascript:void(0);', style: 'color:#999;' do %>
                    <i class="icon-star"></i>
                    漫拍之星
                <% end %>
            <% else %>
                <%= link_to star_photos_path do %>
                    <i class="icon-star"></i>
                    漫拍之星
                <% end %>
            <% end %>
        </li>
    </ul>
</div>