<div class="mp-photo sidenav" id="mp-photo-sidenav">
	<div class="main-orders">
		<% ["news", "liks", "coms", "recs", "choi", "radm"].each do |name| %>
			<% item = Photo::ORDER[name] %>
			<% if params[:q][:n].eql?(name) %>
				<%= link_to 'javascript:void(0);', style: 'color:orange;' do %>
					<i class="icon-<%= item[1] %>"></i>
					<%= item[-1] %>
				<% end %>
			<% else %>
				<%= link_to photos_path(q: params[:q].merge(n: name, o: item[0])) do %>
					<i class="icon-<%= item[1] %>"></i>
					<%= item[-1] %>
				<% end %>
			<% end %>
		<% end %>
	</div>
	<div class="sub">
		<div class="title">
			<a href="javascript:void(0);">标签</a>
		</div>
		<div class="mp-tags">
			<% tts = params[:q][:w][:tag_id] rescue [] %>
			<% Tag.limit(54).each do |tag| %>
				<% if tts.member?(tag.name.to_s) %>
					<% 
						t = tts - [tag.name.to_s]
						query = params[:q][:w].merge(tag_id: t)
					 %>
					<%= link_to tag.name, photos_path(q: params[:q].merge(w: query)), style: 'color: orange;' %>
				<% else %>
					<%
						t = (params[:q][:w][:tag_id] rescue []) + [tag.name]
					 %>
					<%= link_to tag.name, photos_path(q: params[:q].merge(w: (params[:q][:w] || {}).merge(tag_id: t)) ) %>
				<% end %>
			<% end %>
		</div>
	</div>
	<div class="hint">
		<span>?</span>
		再次单击选择标签就取消
		<!-- 按住Shift可以选择多个类别 -->
	</div>
</div>