<div class="mp-photo sidenav" id="mp-photo-sidenav">
	<div class="main-orders">
		<%
			data = {
				'news'   => ['upload', '最新上传'],
				'likes'  => ['heart', '喜欢最多'],
				'hot'    => ['comments', '评论最多'],
				'push'   => ['ok-circle', '编辑推荐'],
				'choice' => ['time', '每日精选'],
				'random' => ['random', '随机浏览']
			}
		%>
		<% data.each do |key, val| %>
			<% if params[:order].eql?(key) %>
				<%= link_to 'javascript:void(0);', style: 'color:orange;' do %>
					<i class="icon-<%= val[0] %>"></i>
					<%= val[1] %>
				<% end %>
			<% else %>
				<%= link_to photos_path(order: key) do %>
					<i class="icon-<%= val[0] %>"></i>
					<%= val[1] %>
				<% end %>
			<% end %>
		<% end %>
	</div>
	<div class="sub">
		<div class="title">
			<a href="javascript:void(0);">标签</a>
		</div>
		<div class="mp-tags">
			<% Tag.limit(54).each do |tag| %>
			<%= link_to tag.name, '' %>
			<% end %>
		</div>
	</div>
	<div class="hint">
		<span>?</span>
		按住Shift可以选择多个类别
	</div>
</div>