<div class="mp-photo">
    <div class="types">
        <% if photo.isgroup and photo.parent_id.nil? %>
        <a class="type-group">组</a>
        <% end %>
        <% if photo.recommend and params[:q] and params[:q][:n] != 'recs' and !photo.choice %>
        <a class="type-push">荐</a>
        <% end %>
        <% if photo.choice and params[:q] and params[:q][:n] != 'choi' %>
        <a class="type-choice">精</a>
        <% end %>
    </div>
    <div class="buttons">
        <div class="shares">
            <a href="<%= link_to_share 'weibo', photo %>" class="action share weibo" target="_blank"></a>
            <a href="<%= link_to_share 'qzone', photo %>" class="action share qzone" target="_blank"></a>
            <a href="<%= link_to_share 'renren', photo %>" class="action share renren" target="_blank"></a>
            <a href="<%= link_to_share 'douban', photo %>" class="action share douban" target="_blank"></a>
        </div>
        <% if sign_in? %>
        <div class="states">
            <a href="/ajax/lik/photo/<%= photo.id %>" class="action state like mp-ajax-tui <%= 'active' if photo.liks?(current_user) %>" data-type="lik">
                <span class="iconheart"></span>
                <span class="count"><%= photo.liks_count %></span>
            </a>
            <a href="/ajax/sto/photo/<%= photo.id %>" class="action state star mp-ajax-tui <%= 'active' if photo.stos?(current_user) %>" data-type="sto">
                <span class="iconstar"></span>
                <span class="count"><%= photo.stos_count %></span>
            </a>
        </div>
        <% end %>
    </div>
    <%= link_to_photo photo %>
    <div class="details">
        <div class="inside-left">
            <div class="account">
                <!-- 如果有活动ID 就不应该显示活动了 -->
                <%= link_to photo.title.present? ? photo.title : '标题', photo_path(photo) %>
            </div>
            <div class="title">
                <%= link_to photo.user.username, user_path(photo.user_id) %>
            </div>
        </div>
        <div class="inside-right">
        </div>
    </div>
</div>