<div class="col-sm-6 col-md-3">
    <div class="thumbnail">
        <%= link_to image_tag(image.picture.url(:thumb)), photo_path(image), style: 'display:block', target: '_blank' %>
        <div class="caption">
            <div><%= image.desc %></div>
            <span title="喜欢">喜欢(<%= image.likes_count %>)</span>
            <span title="收藏">收藏(<%= image.stores_count %>)</span>
            <span title="推荐">推荐(<%= image.recoms_count %>)</span>
            <%= link_to "##{image.event.name}#", photo_path(image), class: 'pull-right' %>
            <hr>
            <div class="thumb-basic">
                <div class="thumb-basic-body">
                    <%= link_to image.user.username %> 上传于 <span class="date"><%= humanize image.created_at %></span>
                </div>
            </div>
        </div>
    </div>
</div>