<script type="text/javascript">
	var cookieSK = "<%= cookies['_mp_session'] %>";
</script>
<link rel="stylesheet" type="text/css" href="/complex/uploadify.css?v=<%= Time.now.to_i %>">
<script type="text/javascript" src="/complex/swfupload.js?v=<%= Time.now.to_i %>"></script>
<script type="text/javascript" src="/complex/uploadify.js?v=<%= Time.now.to_i %>"></script>
<script type="text/javascript" src="/complex/comple.js?v=<%= Time.now.to_i %>"></script>
<div class="cm-bg">
	<div class="container">
		<div class="cm-title">
			<h2>上传组图</h2>
		</div>
		<div class="row uploadcom" id="clickupload-queue">
			<div class="col-md-12 upcm2">
				<a href="javascript:void(0);" class="clickupload" id="clickupload">点击上传</a>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<input type="hidden" name="photo[gl_id]" id="photo_gl_id">
			<div class="form-group" style="min-height: 45px;height: 45px;" id="event_div">
				<label class="control-label" for="photo_event_id">活动:</label>
				<div class="form-control-div">
					<input id="photo_event_id" name="photo[event_id]" type="hidden">
					<a href="javascript:void(0);">[选择活动]</a>
					<span class="startipspan">*</span>
				</div>
			</div>
			<div class="form-group"  id="title_div">
				<label class="control-label" for="photo_event_id">标题:</label>
				<div class="form-control-div">
					<input class="form-control" id="photo_title" name="photo[title]" type="text">
					<span class="startipspan">*</span>
				</div>
			</div>
			<div class="form-group" id="desc_div">
				<label class="control-label" for="photo_desc">内容:</label>
				<div class="form-control-div">
					<textarea class="form-control" name="photo[desc]"></textarea>
					<span class="startipspan">*</span>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="fm-item">
				<label class="ftip">
					<i class="icon-camera-retro"></i>
					EXIF:
				</label>
				<a href="javascript:void(0);">[选择相机]</a>
			</div>
			<div class="fm-item">
				<label class="ftip">
					<i class="icon-map-marker"></i>
					地 点:
				</label>
				<a href="javascript:void(0);">[选择地点]</a>
			</div>
			<div class="fm-item">
				<label class="ftip">
					<i class="icon-tags"></i>
					标 签:
				</label>
				<a href="javascript:void(0);">[选择标签]</a>
				
			</div>
			<div class="fm-item">
				<label class="ftip">
					<i class="icon-warrant"></i>
					许 可:
				</label>
				<a href="javascript:void(0);">[选择许可]</a>
			</div>
		</div>
	</div>
	<a href="javascript:void(0);" class="submit">发 布</a>
</div>