<script type="text/javascript">
	var cookieSK = "<%= cookies['_mp_session'] %>";
</script>
<link rel="stylesheet" type="text/css" href="/complex/uploadify.css?v=<%= Time.now.to_i %>">
<script type="text/javascript" src="/complex/swfupload.js?v=<%= Time.now.to_i %>"></script>
<script type="text/javascript" src="/complex/uploadify.js?v=<%= Time.now.to_i %>"></script>
<script type="text/javascript" src="/complex/comple.js?v=<%= Time.now.to_i %>"></script>
<div class="cm-bg">
	<div class="container">
		<div class="cm-title">
			<h2>上传组图</h2>
		</div>
		<div class="row uploadcom" id="clickupload-queue">
			<div class="col-md-12 upcm2">
				<a href="javascript:void(0);" class="clickupload" id="clickupload">点击上传</a>
			</div>
		</div>
	</div>
</div>
<div class="container cm-cont">
	<div class="row">
		<div class="col-md-6">
			<% if @goon %>
			<input type="hidden" name="goon_id" id="goon_id" value="<%= @goon.id %>">
			<% end %>
			<input type="hidden" name="photo[gl_id]" id="photo_gl_id">
			<input type="hidden" name="photo[exif][location]" id="photo_location">
			<input type="hidden" name="photo[exif][equ]" id="photo_equ">
			<input type="hidden" name="photo[tags]" id="photo_tags">
			<input type="hidden" name="photo[warrant]" id="photo_warrant" value="<%= current_user.warrant || 0 %>">
			<div class="form-group" style="min-height: 45px;height: 45px;" id="event_div">
				<label class="control-label" for="photo_event_id">活动:</label>
				<div class="form-control-div">
					<input id="photo_event_id" name="photo[event_id]" type="hidden">
					<a href="javascript:void(0);">[选择活动]</a>
					<span class="startipspan">*</span>
				</div>
			</div>
			<div class="form-group"  id="title_div">
				<label class="control-label" for="photo_event_id">标题:</label>
				<div class="form-control-div">
					<input class="form-control" id="photo_title" name="photo[title]" type="text">
					<span class="startipspan">*</span>
				</div>
			</div>
			<div class="form-group" id="desc_div">
				<label class="control-label" for="photo_desc">内容:</label>
				<div class="form-control-div">
					<textarea class="form-control" name="photo[desc]"></textarea>
					<span class="startipspan">*</span>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="fm-item">
				<label class="ftip">
					<i class="icon-camera-retro"></i>
					器 材:
				</label>
				<a href="javascript:void(0);" class="gotoshow">[选择相机]</a>
				<span class="exischo equval" id="equ"></span>
			</div>
			<div class="fm-item">
				<label class="ftip">
					<i class="icon-map-marker"></i>
					地 点:
				</label>
				<a href="javascript:void(0);" class="gotoshow">[选择地点]</a>
				<span class="exischo locationval"></span>
				<div class="fm-item-s-div" style="padding: 10px;">
					<div class="psal"></div>
					<hr class="hr-10" style="border-color:#ccc;">
					<div class="csal"></div>
				</div>
			</div>
			<div class="fm-item">
				<label class="ftip" style="vertical-align: top;">
					<i class="icon-tags"></i>
					标 签:
				</label>
				<a href="javascript:void(0);" class="gotoshow" style="vertical-align: top;">[选择标签]</a>
				<span class="exischo tagsval"></span>
				<div class="fm-item-s-div">
					<div class="tags_field_wrap">
						<div class="tags_input_wrap">
							<div class="tag_field">
								<input placeholder="添加标签让照片更容易找到..." type="text" autocomplete="off" style="width:150px;">
							</div>
						</div>
						<div class="cf"></div>
					</div>
					<div class="tag-cy">
						<% Tag.order('sum desc').limit(40).each do |tag| %>
							<%= link_to tag.name, "javascript:void(0);" %>
						<% end %>
					</div>
				</div>
			</div>
			<div class="fm-item">
				<label class="ftip">
					<i class="icon-warrant"></i>
					许 可:
				</label>
				<a href="javascript:void(0);" class="gotoshow">[选择许可]</a>
				<span class="exischo warrantval">
					<b>[<i class="ils_<%= current_user.warrant || 0 %>"></i><a class="oterdel" tar="photo_warrant" href="javascript:void(0);">x</a>]</b>
				</span>
				<div class="fm-item-s-div">
					<% $warrant.each do |k, v| %>
					<div class="warrant-row">
						<input type="radio" id="photo-warrant<%= k %>" name="photo[warrant]" value="<%= k %>" <%= 'checked=""' if current_user.warrant.eql?(k) %>>
						<label for="photo-warrant<%= k %>">
							<% v[:style].each do |row| %>
							<span class="cc-<%= row %>"></span>
							<% end %>
							<span class="cc-h"><%= v[:name] %></span>
						</label>
					</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<a href="javascript:void(0);" class="submit">发 布</a>
</div>