<script language="javascript" src="http://webapi.amap.com/maps?v=1.2&key=10d1d60d190ea6522adeca60343e5821"></script>
<script type="text/javascript">
	var photos = <%= @photos.map do|p| 
				atrs = p.attributes
				atrs['tags'] = atrs['tags'].split(",") rescue []
				atrs.slice(*['id','title', 'desc', 'exif', 'crop', 'album_id', 'event_id', 'tags', 'warrant'])
			end.to_json.html_safe
			%>;
</script>
<%= javascript_include_tag "/javascripts/photo-edit.js" %>
<div class="uploader">
	<div class="photo-container">
		<div class="active-photo-wrap">
			<div class="active-photo">
				<% @photos.each do |photo| %>
				<div class='photo-preview  <%= 'inactive' unless photo.id == @photo.id %>' data-pid='<%= photo.id %>'><img src='<%= photo.picture.url(:large) %>'></div>
				<% end %>
			</div>
		</div>
		<div class="photo-reel">
			<div class="photos">
				<% @photos.each do |photo| %>
					<div class="photo-reel-photo <%= 'selected' if photo.id == @photo.id %>" data-pid="<%= photo.id %>">
						<span class="img-canvas">
							<%= image_tag photo.picture.url(:small) %>
						</span>
					</div>
				<% end %>
			</div>
			<div class="previous-button"></div>
			<div class="next-button"></div>
		</div>
		<div class="photo-actions">
			<div class="remaining-photos">
				<p>如果修改作品，将会被编辑再次审核</p>
			</div>
			<a href="javascript:void(0);" class="secondary delete button" style="margin: 0 0 0 20px;">删除作品</a>
			<input class="button action save-update" type="submit" value="保存修改" style="margin: 0 0 0 20px;">
		</div>
	</div>
	<input id="update_id" name="photo[group][id]" type="hidden" value="<%= params[:id] %>">
	<% if @group %>
	<div class="group-upload-photo" data-gid="<%= @group.id %>" style="display:block;">
		<input id="photo_group_id" name="photo[group][id]" type="hidden" value="<%= @group.id %>">
		<div class="row group-photo">
			<div class="col-md-6">
				<div class="form-group string optional photo_group_title">
					<label class="string optional col-sm-3 control-label" for="photo_group_title">组图标题(必填)</label>
					<div class="col-sm-9 input-text-add">
						<input class="string optional form-control" id="photo_group_title" name="photo[group][title]" size="50" type="text" value="<%= @group.title %>">
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group text optional photo_group_desc">
					<label class="text optional col-sm-3 control-label" for="photo_group_desc">组图描述(必填)</label>
					<div class="col-sm-9 input-text-add">
						<textarea class="text optional form-control" cols="40" id="photo_group_desc" name="photo[group][desc]" rows="3"><%= @group.desc %></textarea>
					</div>
				</div>
			</div>
		</div>
		<hr>
	</div>
	<% end %>
	<div class="edit-container">
		<%= render 'details' %>
	</div>
</div>