<div class="photo-show">
	<div class="photo-header">
		<div class="photo-header-left">
			<%= link_to image_tag(@photo.user.avatar(:s100), class: 'avatar'), user_path(@photo.user_id), class: 'author' %>
			<h4>
				<%= @photo.title.blank? ? '标题未填写' : @photo.title %>
				<% if @photo.isgroup %>
				<small>组图照片[<%= @photos.length %>]张</small>
				<% end %>
			</h4>
			<div class="photo-header-author-link">
				<%= link_to @photo.user.username, user_path(@photo.user_id) %>
				<%= link_to_fol @photo.user_id %>
			</div>
		</div>
		<div class="photo-header-right">
			<div class="sharelizers">
				<div class="share-group">
					<a href="<%= link_to_share 'weibo', @photo %>" class="share weibo" target="_blank"></a>
					<a href="<%= link_to_share 'qzone', @photo %>" class="share qzone" target="_blank"></a>
					<a href="<%= link_to_share 'renren', @photo %>" class="share renren" target="_blank"></a>
					<a href="<%= link_to_share 'douban', @photo %>" class="share douban" target="_blank"></a>
					<a href="javascript:void(0);" class="share email"></a>
				</div>
				<div class="status">
					<span class="status-tip">
						浏览:
					</span>
					<span class="status-count">
						<%= @photo.visit_count %>
					</span>
					<span class="status-tip">
						喜欢:
					</span>
					<span class="status-count">
						<%= @photo.liks_count %>
					</span>
					<span class="status-tip">
						收藏:
					</span>
					<span>
						<%= @photo.stos_count %>
					</span>
				</div>
			</div>
			<a href="/ajax/sto/photo/<%= @photo.id %>" class="photo-store mp-ajax-tui <%= 'active' if current_user and @photo.stos?(current_user) %>" data-type="sto">
				<span class="store-bg"></span>
				<span class="store-text">收藏</span>
			</a>
			<a href="/ajax/lik/photo/<%= @photo.id %>" class="photo-like mp-ajax-tui <%= 'active' if current_user and @photo.liks?(current_user) %>" data-type="lik">
				<span class="like-bg"></span>
				<span class="like-text">喜欢</span>
			</a>
			
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="photo-show-desc gray-desc">
	<%= @photo.desc %><% if sign_in? and current_user.id.eql?(@photo.user_id) %><b class="modify-tip">[编辑]</b><% end %>
</div>
<hr class="hr-0">
<div class="row">
	<div class="col-md-12">
		<%= render partial: 'photos/line_large', collection: @photos, as: :photo %>
	</div>
</div>
<div class="row photo-show-bottom">
	<div class="col-md-7">
		<%= render "shared/respond", url: ajax_com_path('photo', @photo.id) %>
		<div class="comments">
			<h5>所有回应(<%= @photo.coms_count %>)</h5>
			<ul class="media-list">
				<%= render partial: 'shared/comment', collection: @photo.comments %>
			</ul>
		</div>
	</div>
</div>