<div class="photo-show">
	<div class="photo-header">
		<div class="photo-header-left">
			<%= link_to image_tag(@photo.user.avatar(:s50), class: 'avatar'), user_path(@photo.user_id), class: 'author' %>
			<h4>
				<%= @photo.title.blank? ? '标题未填写' : @photo.title %>
				<% if @photo.isgroup %>
				<small>组图 [<%= @photos.length %>] 张</small>
				<% end %>
			</h4>
			<div class="photo-header-author-link">
				<%= link_to @photo.user.username, user_path(@photo.user_id) %>
				<%= link_to_fol @photo.user_id %>
			</div>
		</div>
		<div class="photo-header-right">
			<div class="sharelizers">
				<div class="share-group">
					<a href="<%= link_to_share 'weibo', @photo %>" class="share weibo" target="_blank"></a>
					<a href="<%= link_to_share 'qzone', @photo %>" class="share qzone" target="_blank"></a>
					<a href="<%= link_to_share 'renren', @photo %>" class="share renren" target="_blank"></a>
					<a href="<%= link_to_share 'douban', @photo %>" class="share douban" target="_blank"></a>
					<a href="javascript:void(0);" class="share email"></a>
				</div>
				<div class="status">
					<span class="status-tip">
						浏览:
					</span>
					<span class="status-count">
						<%= @photo.visit_count %>
					</span>
					<span class="status-tip">
						喜欢:
					</span>
					<span class="status-count">
						<%= @photo.liks_count %>
					</span>
					<span class="status-tip">
						收藏:
					</span>
					<span>
						<%= @photo.stos_count %>
					</span>
				</div>
			</div>
			<a href="/ajax/sto/photo/<%= @photo.id %>" class="photo-store mp-ajax-tui <%= 'active' if current_user and @photo.stos?(current_user) %>" data-type="sto">
				<span class="store-bg"></span>
				<span class="store-text">收藏</span>
			</a>
			<a href="/ajax/lik/photo/<%= @photo.id %>" class="photo-like mp-ajax-tui <%= 'active' if current_user and @photo.liks?(current_user) %>" data-type="lik">
				<span class="like-bg"></span>
				<span class="like-text">喜欢</span>
			</a>
			
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="photo-show-desc gray-desc">
	<% gexif = @photo.exif %>
	<p>
		拍摄器材：<%= gexif['equ'] %>
		<br>
		拍摄地点：<%= gexif['location'] %>
		<br>
		发布时间：<%= @photo.created_at.to_date %>
		<br>
		共享许可：<label class="icons-licenses_<%= @photo.warrant %>"></label>
		<br>
		<span class="w-separatrix">- - - - - - - -</span>
	</p>
	<%= @photo.desc %>
	<% if sign_in? and current_user.id.eql?(@photo.user_id) %>
	<%= link_to '[删除组图]', photo_path(@photo.id), method: :delete, data: {confirm: '确定删除？不可恢复操作!' }, class: 'modify-tip' %>
	<%= link_to '[作品修改]', complex_edit_photo_path(@photo.id), class: 'modify-tip' %>
	<%= link_to '[继续上传]', complex_photos_path(go_id: @photo.id), class: 'modify-tip' %>
	<% end %>
	<div class="mp-photo-tags">
		<% @photo.tags.to_s.split(",").each do |tag| %>
		<span class="mp-photo-tag">
			<a href="javascript:void(0);" target="_blank">#<%= tag %></a>
		</span>
		<% end %>
		<% if event = @photo.event %>
		<span class="mp-photo-tag">
			<%= link_to '#' + event.name, event_path(event.id), target: '_blank' %>
		</span>
		<% end %>
	</div>
</div>
<hr class="hr-0">
<div class="row">
	<div class="col-md-12 groupHeight">
		<%= render partial: 'photos/line_large', collection: @photos, as: :photo %>
		<% if prev = @photo.prev %>
			<a href="<%= photo_path(prev) %>" class="pn-photo prev-photo ingroup"><span></span></a>
		<% end %>
		<% if nextp = @photo.next %>
			<a href="<%= photo_path(nextp) %>" class="pn-photo next-photo ingroup"><span></span></a>
		<% end %>
	</div>
</div>
<div class="row photo-show-bottom">
	<div class="col-md-7">
		<%= render "shared/respond", url: ajax_com_path('photo', @photo.id) %>
		<div class="comments">
			<h5>所有回应(<%= @photo.coms_count %>)</h5>
			<ul class="media-list">
				<%= render partial: 'shared/comment', collection: @comments %>
			</ul>
			<%= will_paginate @comments %>
		</div>
	</div>
</div>
<script language="javascript" src="http://webapi.amap.com/maps?v=1.2&key=10d1d60d190ea6522adeca60343e5821"></script>
<script type="text/javascript">
	var mpc_time;
	window.onload = function(){
		var totalHeight = $(".groupHeight").height();
		movePageChange(totalHeight);

		$(window).bind("scroll", function(){
			clearTimeout(mpc_time);
			mpc_time = setTimeout(function(){
				movePageChange(totalHeight);
			},500);
		});
	}
	function movePageChange(theight){
		if($(document).scrollTop() < 160){
			value = ($(window).height() - (160 - $(document).scrollTop()) ) / 2;
		}else{
			value = $(window).height()/2 + $(document).scrollTop() - 160;
		}
		value = value / theight * 100;

		if(value > 100)return;
		$(".ingroup span").animate({"top":value + "%"});
	}
	$(function(){
		$(".groupHeight img").lazyload();
	})
</script>