<div class="photo-show">
	<div class="photo-header">
		<div class="photo-header-left">
			<%= link_to image_tag(@photo.user.avatar(:s50), class: 'avatar'), user_path(@photo.user_id), class: 'author' %>
			<h4>
				<%= @photo.title.blank? ? '标题未填写' : @photo.title %>
				<% if @photo.isgroup %>
				<small>组图 [<%= @photos.length %>] 张</small>
				<% end %>
			</h4>
			<div class="photo-header-author-link">
				<%= link_to @photo.user.username, user_path(@photo.user_id) %>
				<%= link_to_fol @photo.user_id %>
			</div>
		</div>
		<div class="photo-header-right">
			<div class="sharelizers">
				<div class="share-group">
					<a href="<%= link_to_share 'weibo', @photo %>" class="share weibo" target="_blank"></a>
					<a href="<%= link_to_share 'qzone', @photo %>" class="share qzone" target="_blank"></a>
					<a href="<%= link_to_share 'renren', @photo %>" class="share renren" target="_blank"></a>
					<a href="<%= link_to_share 'douban', @photo %>" class="share douban" target="_blank"></a>
					<a href="javascript:void(0);" class="share email"></a>
				</div>
				<div class="status">
					<span class="status-tip">
						浏览:
					</span>
					<span class="status-count">
						<%= @photo.visit_count %>
					</span>
					<span class="status-tip">
						喜欢:
					</span>
					<span class="status-count">
						<%= @photo.liks_count %>
					</span>
					<span class="status-tip">
						收藏:
					</span>
					<span>
						<%= @photo.stos_count %>
					</span>
				</div>
			</div>
			<a href="/ajax/sto/photo/<%= @photo.id %>" class="photo-store mp-ajax-tui <%= 'active' if current_user and @photo.stos?(current_user) %>" data-type="sto">
				<span class="store-bg"></span>
				<span class="store-text">收藏</span>
			</a>
			<a href="/ajax/lik/photo/<%= @photo.id %>" class="photo-like mp-ajax-tui <%= 'active' if current_user and @photo.liks?(current_user) %>" data-type="lik">
				<span class="like-bg"></span>
				<span class="like-text">喜欢</span>
			</a>
			
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="photo-show-desc gray-desc">
	<%= @photo.desc %>
	<% if sign_in? and current_user.id.eql?(@photo.user_id) %>
	<%= link_to '[作品修改]', edit_photo_path(@photo.id, up_id: @photo.gl_id), class: 'modify-tip' %>
	<%= link_to '[继续上传]', new_photo_path(go_id: @photo.id), class: 'modify-tip' %>
	<% end %>
	<div class="mp-photo-tags">
		<% @photo.tags.to_s.split(",").each do |tag| %>
		<span class="mp-photo-tag">
			<a href="javascript:void(0);" target="_blank">#<%= tag %></a>
		</span>
		<% end %>
		<% if event = @photo.event %>
		<span class="mp-photo-tag">
			<%= link_to '#' + event.name, event_path(event.id), target: '_blank' %>
		</span>
		<% end %>
	</div>
</div>
<hr class="hr-0">
<div class="row">
	<div class="col-md-12 groupHeight">
		<%= render partial: 'photos/line_large', collection: @photos, as: :photo %>
		<% if prev = @photo.prev %>
			<a href="<%= photo_path(prev) %>" class="pn-photo prev-photo ingroup"><span></span></a>
		<% end %>
		<% if nextp = @photo.next %>
			<a href="<%= photo_path(nextp) %>" class="pn-photo next-photo ingroup"><span></span></a>
		<% end %>
	</div>
</div>
<div class="row photo-show-bottom">
	<div class="col-md-7">
		<%= render "shared/respond", url: ajax_com_path('photo', @photo.id) %>
		<div class="comments">
			<h5>所有回应(<%= @photo.coms_count %>)</h5>
			<ul class="media-list">
				<%= render partial: 'shared/comment', collection: @comments %>
			</ul>
			<%= will_paginate @comments %>
		</div>
	</div>
</div>
<!--<style type="text/css">
.mini-comments{
	width: 290px;
	border: 1px solid #d3d3d3;
	border-radius: 4px;
	z-index: 1000;
}
.mini-comment-op{
	overflow: hidden;
	min-height: 30px;
}
.mini-comment-op textarea:focus{
	outline: 0 none;
	border-color: #f5b93c;
}
.mini-comment-op textarea{
	float: left;
	min-height: 20px;
	_height: 20px;
	height: 26px;
	line-height: 20px;
	width: 185px;
	padding: 2px 6px;
	border: 1px solid #d9d9d9;
	color: #222;
	background-color: #fff;
}
.mini-comment-op .min-avat{
	float: left;
	margin-right: 7px;
	_margin-right: 4px;
}
.mini-comment-op .min-avat img{
	vertical-align: top;
	height: 30px;
	width: 30px;
}
.mini-comment-op .btn_submit{
float: left;
margin: 1px 0 0 4px;
width: 36px;
overflow: hidden;
height: 22px;
line-height: 22px;
font-size: 12px;
border: 1px solid #bfbfbf;
border-radius: 3px;
text-align: center;
text-decoration: none;
color: #000;
background: #fff;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#d6d5d5',GradientType=0);
background: -moz-linear-gradient(top,#fff,#d6d5d5);
background: -webkit-linear-gradient(top,#fff,#d6d5d5);
background: linear-gradient(top,#fff,#d6d5d5);
}
</style>
<div class="mini-comments">
	<div class="comments_list" style="">
		<ul id="quick_comment__list" class="list_group">
			<li class="list_cont">
				<div class="list_avatar">
					<a href="http://user.qzone.qq.com/515856563" target="_blank" class="avatar">
						<img style="width:30px;height:30px;" src="http://qlogo4.store.qq.com/qzone/515856563/515856563/30"></a>
				</div>
				<div class="list_txt">
					<p class="details">
						<a href="http://user.qzone.qq.com/515856563" target="_blank" class="nickname">我</a>
						：
						<span title="哎呦，这小姑娘">哎呦，这小姑娘</span>
					</p>
					<p class="time">刚刚</p>
				</div>
			</li>
		</ul>
	</div>
	<div class="mini-comment-op">
		<%#= link_to image_tag(current_user.avatar.url(:s50), size: '30x30'), user_path(current_user.id), class: 'min-avat', target: "_blank" %>
		<div class="comments_input">
			<textarea placeholder="写点什么吧"></textarea>
			<a href="javascript:void(0);" class="btn_submit">发表</a>
		</div>
	</div>
	<div class="arrow">
		<span class="arrow-out">
			<span class="arrow-in"></span>
		</span>
	</div>
</div>
-->
<script language="javascript" src="http://webapi.amap.com/maps?v=1.2&key=10d1d60d190ea6522adeca60343e5821"></script>
<script type="text/javascript">
	var mpc_time;
	window.onload = function(){
		var totalHeight = $(".groupHeight").height();
		movePageChange(totalHeight);

		$(window).bind("scroll", function(){
			clearTimeout(mpc_time);
			mpc_time = setTimeout(function(){
				movePageChange(totalHeight);
			},500);
		});
	}
	function movePageChange(theight){
		if($(document).scrollTop() < 160){
			value = ($(window).height() - (160 - $(document).scrollTop()) ) / 2;
		}else{
			value = $(window).height()/2 + $(document).scrollTop() - 160;
		}
		value = value / theight * 100;

		if(value > 100)return;
		$(".ingroup span").animate({"top":value + "%"});
	}
	$(function(){
		$(".groupHeight img").lazyload();
	})
</script>