<header class="border_1px">
	<div class="ico_wrapper back_ico left">
		<a href="/photos" class="link-to-back">
			<span class="sprites">
				<em class="down_shadow"></em>
			</span>
		</a>
	</div>
	<div class="title single_pro clear_fix" style="color: rgb(0, 0, 0);"><%= @photo.title.blank? ? '标题未填写' : @photo.title %></div>
</header>
<div class="main" id="main" style="height: 592px;">
	<div class="ellipsis pro_prefix single"></div>
	<!-- 商品主体 -->
	<% @photos.each do |p| %>
	<div class="product_img clear_fix">
		<%= image_tag p.picture.url(:thumb) %>
	</div>
	<% end %>
	<!--  商品详情页  -->
	<div class="product_info clear_fix">
		<div class="collect_success"></div>
		<!-- 收藏 -->
		<div class="collect_ico right">
			<span class="sprites"></span>
		</div>
		<h1 class="first">描述</h1>
		<p><%= @photo.desc %></p>
		<div style="height:500px;"></div>
	</div>
</div>
<style type="text/css">
.ellipsis.pro_prefix.single{
	height: 20px;
}
.product_img{
	text-align: center;
}
h1{
	font-size: 1.7em;
	color: #000;
	font-weight: bold;
	margin: 32px 5% 0;
}
#map.map_wrap{
	margin: 10px 5%;
}
.map_wrap .hidemap{
	width: 100%;
}
</style>
<% lat, lon = @photo.exif['lat'], @photo.exif['lon'] %>
<% if lat.present? and lon.present? %>
	<script type="text/javascript">
	function initMap() {
		mapObj = new AMap.Map("map", {
			center: new AMap.LngLat(<%= lon %>, <%= lat %>),
			level: 9
		});
		var marker = new AMap.Marker({
			position: mapObj.getCenter(),
			draggable: false, //点标记可拖拽
			cursor: 'move',  //鼠标悬停点标记时的鼠标样式
		});
		marker.setMap(mapObj);
	}
	function loadScript() {
		var script = document.createElement("script");
		script.type = "text/javascript";
		script.src = "http://webapi.amap.com/maps?v=1.2&key=10d1d60d190ea6522adeca60343e5821&callback=initMap";
		document.body.appendChild(script);
	}
	window.onload = loadScript;
	</script>
<% end %>