<div class="photo-show simple">
	<div class="photo-header">
		<div class="photo-header-left">
			<%= link_to image_tag(@photo.user.avatar(:s50), class: 'avatar'), user_path(@photo.user_id), class: 'author' %>
			<h4>
				<%= @photo.title.blank? ? '标题未填写' : @photo.title %>
			</h4>
			<div class="photo-header-author-link">
				<%= link_to @photo.user.username, user_path(@photo.user_id) %>
				<%= link_to_fol @photo.user_id %>
			</div>
		</div>
		<div class="photo-header-right">
			<div class="sharelizers">
				<div class="share-group">
					<a href="<%= link_to_share 'weibo', @photo %>" class="share weibo" target="_blank"></a>
					<a href="<%= link_to_share 'qzone', @photo %>" class="share qzone" target="_blank"></a>
					<a href="<%= link_to_share 'renren', @photo %>" class="share renren" target="_blank"></a>
					<a href="<%= link_to_share 'douban', @photo %>" class="share douban" target="_blank"></a>
					<a href="javascript:void(0);" class="share email"></a>
				</div>
				<div class="status">
					<span class="status-tip">
						浏览:
					</span>
					<span class="status-count">
						<%= @photo.visit_count %>
					</span>
					<span class="status-tip">
						喜欢:
					</span>
					<span class="status-count">
						<%= @photo.liks_count %>
					</span>
					<span class="status-tip">
						收藏:
					</span>
					<span>
						<%= @photo.stos_count %>
					</span>
				</div>
			</div>
			<a href="/ajax/sto/photo/<%= @photo.id %>" class="photo-store mp-ajax-tui <%= 'active' if current_user and @photo.stos?(current_user) %>" data-type="sto">
				<span class="store-bg"></span>
				<span class="store-text">收藏</span>
			</a>
			<a href="/ajax/lik/photo/<%= @photo.id %>" class="photo-like mp-ajax-tui <%= 'active' if current_user and @photo.liks?(current_user) %>" data-type="lik">
				<span class="like-bg"></span>
				<span class="like-text">喜欢</span>
			</a>
			
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<hr class="hr-10">

<div class="row">
	<div class="col-md-12">
		<div class="mp-large-picture">
			<%= link_to image_tag(@photo.picture(:large)), 'javascript:void(0);', class: 'mp-large-link' %>
			<% if prev = @photo.prev %>
				<a href="<%= photo_path(prev) %>" class="pn-photo prev-photo"><span></span></a>
			<% end %>
			<% if nextp = @photo.next %>
				<a href="<%= photo_path(nextp) %>" class="pn-photo next-photo"><span></span></a>
			<% end %>
		</div>
		<% if current_user %>
		<div class="editor_opt mp-large-picture-bottom" style="text-align:right;">
			<% if current_user.id.eql?(@photo.user_id) %>
			<%= link_to '作品修改', simple_edit_photo_path(@photo), class: 'opt' %>
			<%= link_to_goon @photo %>
			<% end %>
			<% if current_user.admin or Editor.exists?(event_id: @photo.event_id, editor_id: current_user.id) %>
				<% if @photo.recommend %>
				<a href="/ajax/rec/photo/<%= @photo.id %>" class="mp-ajax-tui active" data-type="rec">
					取消编辑推荐
				</a>
				<% else %>
				<a href="/ajax/rec/photo/<%= @photo.id %>" class="mp-ajax-tui" data-type="rec">
					编辑推荐
				</a>
				<% end %>
			<% end %>
			<% if current_user.admin %>
				<% if @photo.choice %>
				<a href="/ajax/cho/photo/<%= @photo.id %>" class="mp-ajax-tui active" data-type="cho">
					取消封面大图
				</a>
				<% else %>
				<a href="/ajax/cho/photo/<%= @photo.id %>" class="mp-ajax-tui" data-type="cho">
					封面大图
				</a>
				<% end %>
			<% end %>
			<% if current_user.admin || current_user.id.eql?(@photo.user_id) %>
				<%= link_to '查看原图', @photo.picture.url, target: '_blank' %>
				<% if current_user.id.eql?(@photo.user_id) %>
				<%= link_to '删除', photo_path(@photo.id), method: :delete, data: {confirm: '确定删除？不可恢复操作!' } %>
				<% end %>
			<% end %>
		</div>
		<% end %>
	</div>
</div>
<hr class="hr-10">
<div class="row photo-show-bottom">
	<div class="col-md-7">
		<%= render "shared/respond", url: ajax_com_path('photo', @photo.id) %>
		<div class="comments">
			<h5>所有回应(<%= @photo.coms_count %>)</h5>
			<ul class="media-list">
				<%= render partial: 'shared/comment', collection: @comments %>
			</ul>
			<%= will_paginate @comments %>
		</div>
	</div>
	<div class="col-md-5">
		<%= render 'exif' %>
	</div>
</div>