<%= render 'photos/header', photo: @photo %>
<hr style="margin: 0 auto 30px auto;">
<div class="row">
	<div class="col-md-12">
		<div class="mp-large-picture">
			<%= link_to image_tag(@photo.picture(:large)) %>
			<% if prev = @photo.prev %>
				<a href="<%= photo_path(prev) %>" class="pn-photo prev-photo"><span></span></a>
			<% end %>
			<% if nexp = @photo.next %>
				<a href="<%= photo_path(nexp) %>" class="pn-photo next-photo"><span></span></a>
			<% end %>
		</div>
		<hr>
		<ul class="list-unstyled clearfix">
			<li class="opt-b">
				<i class="icon-heart"></i>
				<%= link_to_push 'like', @photo, false %>
			</li>
			<li class="opt-b">
				<i class="icon-bookmark"></i>
				<%= link_to_push 'store', @photo, false %>
			</li>
			<li class="opt-b">
				<i class="icon-ok-circle"></i>
				<%= link_to_push 'recom', @photo, false %>
			</li>
			<li class="opt-b">
				<i class="icon-comment"></i>
				<a href="#comment_content" title="回应">回应(<%= @photo.coms_count %>)</a>
			</li>
			<li class="opt-b">
				<i class="icon-flag"></i>
				<% if @photo.event %>
					<%= link_to @photo.event.name, event_path(@photo.event_id) %>
				<% end %>
			</li>
			<li class="opt-b">
				<i class="icon-time"></i>
				<%= @photo.created_at.strftime("%m-%d %R") %>
			</li>
		</ul>
		<hr>
		<div class="row">
			<div class="col-md-7">
				<%= render "shared/respond", url: ajax_com_path('photo', @photo.id) if current_user %>
				<hr>
				<div class="comments">
					<h5>所有回应</h5>
					<ul class="media-list">
						<%= render partial: 'shared/comment', collection: @photo.comments %>
					</ul>
				</div>
			</div>
			<div class="col-md-5">
				<%= render 'exif' %>
			</div>
		</div>
		
	</div>
</div>