<div class="row">
	<div class="col-sm-12 col-md-12">
		<h3 class="heading">
			圈子-<%= @group.id %>
			<small><%= link_to '辅助编辑', edit_admin_group_path(@group) %></small>
		</h3>
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<div class="vcard">
					<ul>
						<li class="v-heading">详细信息</li>
						<li>
							<span class="item-key">图片</span>
							<div class="vcard-item"><%= image_tag @group.logo(:thumb), style: 'max-width: 80px;' %></div>
						</li>
						<li>
							<span class="item-key">名称</span>
							<div class="vcard-item"><%= @group.title %></div>
						</li>
						<li>
							<span class="item-key">类型</span>
							<div class="vcard-item"><%= @group.publish %></div>
						</li>
						<li>
							<span class="item-key">创建者</span>
							<div class="vcard-item"><%= link_to @group.user.username, admin_user_path(@group.user_id) %></div>
						</li>
						<li>
							<span class="item-key">成员数</span>
							<div class="vcard-item"><%= @group.members_count %></div>
						</li>
						<li>
							<span class="item-key">访问数</span>
							<div class="vcard-item"><%= @group.visits_count %></div>
						</li>
						<li>
							<span class="item-key">描述</span>
							<div class="vcard-item"><%= @group.desc %></div>
						</li>
						<li class="v-heading">
							帖子数(<%= @group.topics_count %>)
						</li>
						<li>
							<table class="table table-bordered table12 table-condensed table-hover">
								<tr>
									<th>标题</th>
									<th>发帖人</th>
									<th>内容</th>
									<th>评论</th>
									<th>操作</th>
								</tr>
								<% @group.topics.each do |t| %>
								<tr>
									<td><%= t.title %></td>
									<td><%= t.user.username %></td>
									<td><%= truncate(t.content, length: 20) %></td>
									<td><%= 20 %></td>
									<td>
										<%= link_to '详细', admin_topic_path(t.id) %>
										/
										<%= link_to '删除', admin_topic_path(t.id), data: {confirm: '确定删除？不可恢复操作!' } %>
									</td>
								</tr>
								<% end %>
							</table>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>