<div class="row">
    <div class="col-sm-12 col-md-12">
        <h3 class="heading">
            基本信息
            <small>
                <%= link_to '回列表页', admin_images_path %>
            </small>
        </h3>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="vcard">
                    <ul>
                        <li class="v-heading">详细信息</li>
                        <li>
                            <span class="item-key">日期:</span>
                            <div class="vcard-item">
                                <%= time_style @image.created_at %>
                            </div>
                        </li>
                        <li>
                            <span class="item-key">上传者:</span>
                            <div class="vcard-item">
                                <%= @image.user.username %>
                            </div>
                        </li>
                        <li>
                            <span class="item-key">活动:</span>
                            <div class="vcard-item">
                                <%= @image.event ? @image.event.name : '未参加' %>
                            </div>
                        </li>
                        <li>
                            <span class="item-key">作品:</span>
                            <div class="vcard-item">
                                <%= @image.work ? @image.work.title : '未参加' %>
                            </div>
                        </li>
                        <li>
                            <span class="item-key">相册:</span>
                            <div class="vcard-item">
                                <%= @image.album ? @image.album.name : '未上传' %>
                            </div>
                        </li>
                        <li>
                            <span class="item-key">动态:</span>
                            <div class="vcard-item">
                                点赞(<%= @image.lauds_count %>) 喜欢(<%= @image.likes_count %>) 收藏(<%= @image.stores_count %>) 推荐(<%= @image.recoms_count %>)
                            </div>
                        </li>
                        <li>
                            <span class="item-key">操作:</span>
                            <div class="vcard-item">
                                <%= @image.pushes.map(&:channel).join(",") %>
                            </div>
                        </li>
                        <li>
                            <span class="item-key">推荐:</span>
                            <div class="vcard-item">
                                <a class="btn btn-info btn-xs jp" href="/admin/push/每日精选/<%= @image.id %>">每日精选</a>
                                <a class="btn btn-info btn-xs jp" href="/admin/push/编辑推荐/<%= @image.id %>">编辑推荐</a>
                                <a class="btn btn-info btn-xs jp" href="/admin/push/每日一图/<%= @image.id %>">每日一图</a>
                                <a class="btn btn-info btn-xs jp" href="/admin/push/漫拍之星/<%= @image.id %>">漫拍之星</a>
                                <a class="btn btn-info btn-xs jp" href="/admin/push/推荐摄影师/<%= @image.id %>">推荐摄影师</a>
                                <a class="btn btn-default btn-xs jp" href="/admin/push/每月一图/<%= @image.id %>">每月一图</a>
                                <a class="btn btn-default btn-xs jp" href="/admin/push/每季一图/<%= @image.id %>">每季一图</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    $(function(){
        $(document).on('click', '.jp', function(){
            var href = this.href;
            $.post(href, function(data){
                alert('设置成功');
            });
            return false;
        })
    })
</script>