<div class="row">
    <div class="col-md-6">
        <div class="thumbnail">
            <%= link_to image_tag(@star.obj.picture(:big), style: 'height:374px;width: auto;') %>
            <div class="caption" style="font-size: 14px;">
                <%= link_to user_path(@star.source_id) do %>
                    <%= @star.updated_at.to_date %>漫拍之星：<%= @star.source.username %>
                <% end %>
                <%= link_to '查看更多>>', star_images_path, class: 'pull-right' %>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <% @yts[0..1].each do |yt| %>
            <div class="col-md-6">
                <div class="thumbnail">
                    <%= link_to image_tag(yt.obj.picture(:cover)) %>
                    <div class="caption" style="font-size: 14px;">
                        <%= link_to yt.mark, images_path(o: 'eve') %>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
        <div class="row">
            <% @yts[2..-1].each do |yt| %>
            <div class="col-md-6">
                <div class="thumbnail">
                    <%= link_to image_tag(yt.obj.picture(:cover)) %>
                    <div class="caption" style="font-size: 14px;">
                        <%= link_to yt.mark, images_path(o: 'eve') %>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>