<div class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">移动到其他相册</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<% @other.each do |album| %>
							<div class="col-sm-3 col-md-3">
								<div class="thumbnail" album-id="<%= album.id %>">
									<%= link_to image_tag(album.logo(:thumb)), 'javascript:void(0);' %>
									<div class="caption caption-border">
										<%= truncate(album.name, length: 5) %>
										<div class="pull-right ischoosealbum" style="display:none;">
											<i class="icon-ok"></i>
										</div>
									</div>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="move-album-error" style="position: absolute;left: 15px;bottom: 12px;color:red;display:none;">请选择相册</div>
				<%= form_tag move_my_album_path(@album.id), method: :post do %>
				<input type="hidden" name="ids" value="<%= params[:ids] %>">
				<input type="hidden" name="album_id"  id="move-album_id">
				<input type="submit" value="移动"     id="move-submit" class="btn btn-default btn-sm">
				<% end %>
			</div>
		</div>
	</div>
</div>