<style type="text/css">
.hide-cap{display: none;}
.album-menu{
    margin-bottom: 10px;
}
</style>
<script type="text/javascript">
$(function(){
    $(".js-album").hover(function(){
        $(this).find(".hide-cap").show();
    }, function(){
        $(this).find(".hide-cap").hide();
    })
})
</script>

<div class="text-right album-menu">
	您共<%= current_user.albums.count %>个相册，<%= current_user.images.count %>张图片
	<%= link_to '上传图片', upload_my_albums_path, class: 'btn-primary btn btn-sm' %>
    <%= link_to '创建相册', 'javascript:void(0);', class: 'btn-success btn btn-sm custom-modal' %>
</div>
<div class="row">
	<%= render partial: 'album', collection: @albums %>
    <%= will_paginate @albums %>
    <% if @albums.total_entries < 1 %>
    <div class="col-md-12">
        <div class="text-center" style="height: 300px; padding-top: 140px;">
            还没有相册， 先创建一个吧。 <%= link_to '创建相册', 'javascript:void(0);', class: 'custom-modal' %>
        </div>
    </div>
    <% end %>
</div>

<div class="modal fade" id="custom-modal">
    <div class="modal-dialog">
        <%= simple_form_for ['my', Album.new], validate: true do |f| %>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">创建相册</h4>
                    <!-- 为scope声明,不然uniq album name 无效 -->
                    <%= f.input_field :user_id, type: :hidden, value: current_user.id %>
                </div>
                <div class="modal-body">
                    <%= f.input :name %>
                    <%= f.input :publish, :collection => [['所有人',true] ,['仅自己', false]], :as => :radio_buttons, :item_wrapper_class => 'radio-inline' %>
                    <%= f.input :desc, as: :text %>
                </div>
                <div class="modal-footer">
                    <%= f.submit '保存', class: 'btn btn-primary pull-right' %>
                </div>
            </div>
        <% end %>
    </div>
</div>