<style type="text/css">
.hide-cap, .album-tool, .js-image-desc-edit-textarea{
	display: none;
}
.checkbox-image{
	position: absolute;top: -5px;
	right: 0;
}
.js-image-desc-edit{
	/*margin: 6px auto;*/
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 40px;
}
.album-tool, .album-menu{
	margin-bottom:10px;
}
.album-all-checkbox-label{
	margin: 0 60px 0 0;
}
.thumbnail{
	position: relative;
}
</style>
<script type="text/javascript">
$(function(){
	// 编辑描述
	$(".js-image-desc-edit").on('click', function(){
		$(this).hide();
		$(this).next().show().focus();
	});
	// 编辑描述 完成
	$(".js-image-desc-edit-textarea").on('blur', function(){
		var val = $(this).val();
		$(this).hide();
		$(this).prev().text(val).show();
	});
	// 批量管理
	$("#album").on('click', function(){
		// :visible
		if($(".album-tool").is(':hidden')){
			$(".album-tool, .hide-cap").show();
		} else {
			$(".album-tool, .hide-cap").hide();
		}
	});
	// 全选 / 反选
	$("#album-all-checkbox").on('click', function(){
		var checked = $(this).is(':checked');
		$("input[type=checkbox][id!=album-all-checkbox]").each(function(index, row){
			row.checked = checked;
		});
	});
	// 全选移动
	$("#image-all-move").on('click', function(){
		var checkboxs = $("input[type=checkbox][id!=album-all-checkbox]:checked");
	});

	// 全选删除
	$("#image-all-del").on('click', function(){
		var checkboxs = $("input[type=checkbox][id!=album-all-checkbox]:checked");
		if(checkboxs.length < 1){
			alert('至少选中1张图片');
		} else {
			if(confirm("确定删除？不可恢复操作!")){
				checkboxs.each(function(){
					var del = $(this).parents(".col-sm-6.col-md-3").find('.js-image-remove');
					var _id = del.attr('tid');
					var url = '/ajax/del/image/' + _id;
					del.parents('.col-sm-6.col-md-3').fadeOut(function(){
						$(this).remove();
						$.post(url, '', '', 'script');
					});
				});
			}
		}
	});
	
	// 封面
	$(".js-album-cover").on('click', function(){
		var url = $(this).attr('href');
		console.log(url);
		$.post(url, '', '', 'script');
		return false;
	});
})
	
</script>

<div class="album-menu text-right">
	<%= link_to '返回相册', my_albums_path %>
	共<%= @album.images.count %>张图片

	<%= link_to '上传图片', upload_my_albums_path(aid: @album.id), class: 'btn-primary btn btn-xs' %>

	<a class="btn-warning btn btn-xs" href='javascript:void(0);' id="album">批量管理</a>

	<%= link_to '删除相册', my_album_path(@album.id), method: :delete, data: {confirm: "确定删除？不可恢复操作!\n\n相册内图片也将删除\n可以先把图片移动到其他相册" }, class: 'btn-danger btn btn-xs' %>
</div>
<div class="album-tool">
	<div class="pull-right">
		<input id="album-all-checkbox" type="checkbox">
		<label for="album-all-checkbox" class="album-all-checkbox-label">全选</label>
		<a href="javascript:void(0);" class="btn btn-default btn-xs" id="image-all-move">移动</a>
		<a href="javascript:void(0);" class="btn btn-default btn-xs" id="image-all-del">删除</a>
	</div>
	<div class="clearfix"></div>
</div>
<div class="row">
	<%= render partial: 'image', collection: @images %>
	<%= will_paginate @images %>
	<% if @images.total_entries < 1 %>
	<div class="col-md-12">
		<div class="text-center" style="height: 300px; padding-top: 140px;">
			还没有照片， 快去上传吧。 <%= link_to '上传图片', upload_my_albums_path(aid: @album.id) %>
		</div>
	</div>
	<% end %>
</div>