<div class="album-menu text-right">
	<%= link_to '返回相册', my_albums_path %>
	共<%= @album.photos.count %>张图片

	<%= link_to '上传到相册', simple_photos_path(album_id: @album.id), class: 'btn-primary btn btn-xs' %>

	<a class="btn-warning btn btn-xs" href='javascript:void(0);' id="album">批量管理</a>

	<%= link_to '删除相册', my_album_path(@album.id), method: :delete, data: {confirm: "确定删除？不可恢复操作!\n\n相册内图片也将删除\n可以先把图片移动到其他相册" }, class: 'btn-danger btn btn-xs' %>
</div>
<div class="album-tool">
	<div class="pull-right">
		<input id="album-all-checkbox" type="checkbox">
		<label for="album-all-checkbox" class="album-all-checkbox-label">全选</label>
		<%= link_to '移动', move_modal_my_album_path(@album.id), class: 'btn-default btn btn-xs', id: 'image-all-move' %>
		<a href="javascript:void(0);" class="btn btn-default btn-xs" id="image-all-del">删除</a>
	</div>
	<div class="clearfix"></div>
</div>
<div class="row">
	<% if @photos.total_entries < 1 %>
	<div class="col-md-12">
		<div class="text-center" style="height: 300px; padding-top: 140px;">
			还没有作品， 快去上传吧。 <%= link_to '上传图片', simple_photos_path(album_id: @album.id) %>
		</div>
	</div>
	<% else %>
		<%= render partial: 'photo', collection: @photos %>
		<%= will_paginate @photos %>
	<% end %>
</div>