<style type="text/css">
.list-group-item:first-child{
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}
.list-group-item:last-child{
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.list-group-item{
	margin-bottom: 0;
	border: none;
	border-bottom: 1px solid #dddddd;
	padding: 10px 10px 0 10px;
	position: relative;
}
.unread{
	background: #fffced;
}
.msg-user-pic{
	float: left;
	margin: 0 10px 0 0;
}
.msg-list-item{
	cursor: pointer;
}
.msg-list-text{
	width: 80%;
}
.msg-list-user span{
	color: #ccc;
	font-size: 12px;
}
.msg-list-opera{
	position: absolute;
	top: 30px;
	right: 30px;
}
.msg-list-opera a{
	font-size: 12px;
	color: #999;
	display: none;
	text-decoration: none;
	margin-right: 10px;
}
.msg-list-select{
	position: absolute;
	right: 16px;
	top: 30px;
}
.text-desc, .text-desc:hover{
	text-decoration: none;
	color: #333333;
}
</style>
<div class="list-group">
<% @msgs.each do |msg| %>
	<div class="list-group-item <%= 'unread' if msg.unread? %>">
		<div class="msg-user-pic">
			<%= link_to image_tag(msg.sender.avatar(:s50), class: 'avatar-mini'), user_path(msg.sender_id) %>
		</div>
		<div class="msg-list-item">
			<div class="msg-list-user">
				<%= link_to msg.user.username, "javascript:void(0);" %>
				<span class="pull-right">
					<%= humanize msg.updated_at %>
				</span>
			</div>
			<div class="msg-list-text">
				<%= link_to msg.content, my_msg_path(msg.id), class: 'text-desc' %>
			</div>
			<div class="msg-list-select">
				<input type="checkbox" name="tid[]" class="check-tid">
			</div>
			<div class="msg-list-opera">
				<a class="transh" href="javascript:void(0);" title="真的要标记为垃圾漫信？">垃圾漫信</a>
				<%= link_to '删除', my_msg_path(msg.id), method: :delete, data: { confirm: "将删除整个对话, 是否确定?" } %>
			</div>
		</div>
	</div>
<% end %>
</div>
<div style="padding: 0 16px;height: 26px;margin-top: -15px;">
	<div class="pull-right">
		<a class="btn-default btn btn-xs del-all" href="javascript:void(0);" style="margin-right:10px;">删除</a>
		<input type="checkbox" class="check-all">
	</div>
</div>
<%= will_paginate @msgs %>

<script type="text/javascript">
$(function(){
	$(".list-group-item").hover(function(){
		$(this).find('.msg-list-opera a').show();
	}, function(){
		$(this).find('.msg-list-opera a').hide();
	})
	$(".list-group-item").on('click', function(){
		$(this).find('a.text-desc').click();
	});
	$(".transh").click(function(){
		alert('暂未实现');
		return false;
	});
	$("input.check-all").click(function(){
		var checked = $(this).is(':checked');
		$("input[type=checkbox][class!=check-all]").each(function(index, row){
			row.checked = checked;
		});
	});
});
</script>