<style type="text/css">
.media-body{
	border: 1px solid #ccc;
	padding: 0px 10px 10px 10px;
	border-radius: 4px;
}
.del, .del:hover{
	font-size: 12px;
	color: #999;
}
form.new_message{
	margin: auto 60px 10px 60px;
}
.all-left{
	margin-right: 60px;
}
.all-right{
	margin-left: 60px;
}
</style>
<ul class="media-list">
	<% @msgs.each do |msg| %>
		<%= render "msg_#{msg.user_id == @user.id ? 'left' : 'right'}", msg: msg %>
	<% end %>
</ul>
<%= form_for Message.new, url: my_msgs_path, validate: true do |f| %>
	<input type="hidden" name='user_id' value='<%= @user.id %>'>
	<%= f.text_area :content, class: 'form-control' %>
	<div class="text-right">
		<%= f.submit '发送', class: 'btn btn-default' %>
	</div>
<% end %>