<div class="site-main" style="margin-top:100px;background:#fff;padding:10px;">
	<div class="page-header text-center">
		<h3>
			<%= @title.split('-').last %></h3>
	</div>
	<div class="row">
		<div class="col-md-2">
			<%= render 'nav' %></div>
		<div class="col-md-10">
			<div class="content">
				<% if flash[:notice] %>
				<div class="alert alert-warning">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
					<%= flash[:notice] %>
				</div>
				<% end %>
				<div class="row">
					<div class="col-md-6">
						<%= form_for @fb || Feedback.new, validate: true, url: '/sites', html:{style:'margin-top:10px;'} do |f| %>
							<div class="form-group">
								<div class="row">
									<div class="col-xs-6">
										<%= f.text_field :name, class: 'form-control', placeholder: '您的姓名', value: current_user.try(:username) %>
									</div>
									<div class="col-xs-6">
										<%= f.email_field :email, class: 'form-control', placeholder: '您的邮箱', value: current_user.try(:email) %>
									</div>
								</div>
							</div>
							<div class="form-group">
								<%= f.text_field :subject, class: 'form-control', placeholder: '反馈问题的标题' %>
							</div>
							<div class="form-group" style="height:110px;">
								<%= f.text_area :text, class: 'form-control', placeholder: '问题的详细描述,在10..200字以内' %>
							</div>
							<div class="form-group">
								<input type="submit" value="反馈给我们" class="btn btn-info">
							</div>
						<% end %>
					</div>
					<div class="col-md-6">
						<ul class="list-unstyled">
							<li>
								<h4> <i class="icon-map-marker"></i>
									地址
								</h4>
								<p>
									山东省潍坊市
									<br>
									奎文区幸福路
									文明街1231号
								</p>
							</li>
							<li>
								<h4> <i class="icon-phone"></i>
									联系方式
								</h4>
								<p>
									电话: +86 0536-8888888
									<br>
									传真: +86 0536-7777777
									<br>
									Email: feedback@mp.com
								</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>