<% if flash[:notice] %>
<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	<%= flash[:notice] %>
</div>
<% end %>
<div class="sw-content-wrapper">
	<h3 class="medium" style="margin-top:0;">对于您的反馈我们会及时处理</h3>
	<%= form_for @fb || Feedback.new, validate: true, url: '/sites' do |f| %>
		<div class="margin-bottom">
			<label for="input-first_name" class="sr-only">Your Name</label>
			<div class="row-fluid">
				<div class="span6">
					<div class="control-group controls">
						<%= f.text_field :name, class: 'input-block', placeholder: '您的姓名', value: current_user.try(:username) %>
					</div>
				</div>
				<div class="span6">
					<div class="control-group controls">
						<%= f.email_field :email, class: 'input-block', placeholder: '您的邮箱', value: current_user.try(:email) %>
					</div>
				</div>
			</div>
		</div>
		<div class="control-group">
			<label for="input-first_name" class="sr-only">Choose a Username</label>
			<div class="controls">
				<%= f.text_field :subject, class: 'input-block', placeholder: '反馈问题的标题' %>
			</div>
		</div>
		<div class="control-group">
			<label for="input-password" class="sr-only">Choose a password <span style="color: #999" <em="">(must include 1 number)</span>
			</label>
			<div class="controls">
				<%= f.text_area :desc, class: 'input-block', placeholder: '问题的详细描述,在10..200字以内' %>
			</div>
		</div>
		<div class="text-right">
			<button type="submit" class="sw-btn sw-btn-confirm sw-btn-big">反馈给我们</button>
		</div>
	<% end %>
</div> <!-- .sw-content-wrapper -->