<div class="panel panel-default">
    <div class="panel-heading">
        <%= link_to admin_feedbacks_path, class: 'accordion-toggle' do %> <i class="icon-edit"></i>
        反馈信息
        <% end %>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <%= link_to admin_ads_path, class: 'accordion-toggle' do %> <i class="icon-leaf"></i>
        广告/管理
        <% end %>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <a href="#collapseFour" data-parent="#side_accordion" data-toggle="collapse" class="accordion-toggle">
            <i class="icon-cog"></i>
            设置
        </a>
    </div>
    <div class="accordion-body collapse in" id="collapseFour">
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li class="nav-header">网站图片</li>
                <li>
                    <%= link_to 'Banner', admin_banners_path %>
                </li>
                <li>
                    <%= link_to '背景模板', admin_bgs_path %>
                </li>
                <li class="nav-header">系统通知</li>
                <li>
                    <%= link_to '通知列表', admin_sends_path %>
                </li>
                <li class="nav-header">系统设置</li>
                <li>
                    <%= link_to '网站信息', '/admin/info' %>
                </li>
                <li>
                    <%= link_to '网站日志', '/admin/log' %>
                </li>
            </ul>
        </div>
    </div>
</div>