<div class="panel panel-default">
	<div class="panel-heading">
		<%= link_to admin_users_path, class: 'accordion-toggle' do %> 
		<i class="icon-user"></i>
		用户管理
		<% end %>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<%= link_to admin_events_path, class: 'accordion-toggle' do %> 
		<i class="icon-flag"></i>
		活动管理
		<% end %>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<%= link_to admin_works_path, class: 'accordion-toggle' do %> 
		<i class="icon-camera"></i>
		作品管理
		<% end %>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<%= link_to admin_images_path, class: 'accordion-toggle' do %> 
		<i class="icon-picture"></i>
		图库管理
		<% end %>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<%= link_to admin_tags_path, class: 'accordion-toggle' do %> 
		<i class="icon-tag"></i>
		标签管理
		<% end %>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<%= link_to 'javascript:void(0);', class: 'accordion-toggle' do %> 
		<i class="icon-envelope"></i>
		漫信管理
		<% end %>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<%= link_to admin_topics_path, class: 'accordion-toggle' do %> 
		<i class="icon-comment"></i>
		话题管理
		<% end %>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<%= link_to admin_comments_path, class: 'accordion-toggle' do %> 
		<i class="icon-reply"></i>
		回应管理
		<% end %>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<a href="#tuis" data-parent="#side_accordion" data-toggle="collapse" class="accordion-toggle">
			<i class="icon-ok-circle"></i>
			推荐管理
		</a>
	</div>
	<div class="accordion-body collapse in" id="tuis">
		<div class="panel-body">
			<ul class="nav nav-pills nav-stacked">
				<li>
					<%= link_to '推荐用户', 'javascript:void(0);' %>
				</li>
				<li>
					<%= link_to '推荐作品', 'javascript:void(0);' %>
				</li>
				<li>
					<%= link_to '推荐图片', 'javascript:void(0);' %>
				</li>
				<li>
					<%= link_to '推荐话题', 'javascript:void(0);' %>
				</li>
				<li>
					<%= link_to '推荐活动', 'javascript:void(0);' %>
				</li>
				<li>
					<%= link_to '推荐重点', 'javascript:void(0);' %>
				</li>
			</ul>
		</div>
	</div>
</div>