<div class="panel panel-default">
	<div class="panel-heading">
		<%= link_to admin_users_path, class: 'accordion-toggle' do %> 
		<i class="icon-user"></i>
		用户管理
		<% end %>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<%= link_to admin_events_path, class: 'accordion-toggle' do %> 
		<i class="icon-flag"></i>
		活动管理
		<% end %>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<%= link_to admin_works_path, class: 'accordion-toggle' do %> 
		<i class="icon-camera"></i>
		作品管理
		<% end %>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<%= link_to admin_images_path, class: 'accordion-toggle' do %> 
		<i class="icon-picture"></i>
		图库管理
		<% end %>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<%= link_to admin_groups_path, class: 'accordion-toggle' do %> 
		<i class="icon-group"></i>
		圈子管理
		<% end %>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<%= link_to admin_topics_path, class: 'accordion-toggle' do %> 
		<i class="icon-comment"></i>
		帖子管理
		<% end %>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<%= link_to admin_topics_path, class: 'accordion-toggle' do %> 
		<i class="icon-envelope"></i>
		漫信管理
		<% end %>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<a href="#collapseFour" data-parent="#side_accordion" data-toggle="collapse" class="accordion-toggle">
			<i class="icon-ok-circle"></i>
			推荐管理
		</a>
	</div>
	<div class="accordion-body collapse in" id="collapseFour">
		<div class="panel-body">
			<ul class="nav nav-pills nav-stacked">
				<li>
					<%= link_to '推荐用户', admin_banners_path %>
				</li>
				<li>
					<%= link_to '推荐作品', admin_bgs_path %>
				</li>
				<li>
					<%= link_to '推荐图片', admin_sends_path %>
				</li>
				<li>
					<%= link_to '推荐帖子', '/admin/info' %>
				</li>
				<li>
					<%= link_to '推荐活动', '/admin/log' %>
				</li>
				<li>
					<%= link_to '推荐重点', '/admin/log' %>
				</li>
			</ul>
		</div>
	</div>
</div>