<a href="javascript:void(0);" class="sidebar_switch on_switch ttip_r" title="隐藏侧边栏">侧边栏选择</a>
<div class="sidebar">
	<div class="sidebar_inner_scroll">
		<div class="sidebar_inner">
			<div id="side_accordion" class="panel-group">
				<!-- slidebar -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<%= link_to admin_users_path, class: 'accordion-toggle' do %> 
						<i class="icon-user"></i>
						用户管理
						<% end %>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<%= link_to admin_events_path, class: 'accordion-toggle' do %> 
						<i class="icon-flag"></i>
						活动管理
						<% end %>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<%= link_to admin_works_path, class: 'accordion-toggle' do %> 
						<i class="icon-camera"></i>
						作品管理
						<% end %>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<%= link_to admin_photos_path, class: 'accordion-toggle' do %> 
						<i class="icon-picture"></i>
						图库管理
						<% end %>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<%= link_to admin_tags_path, class: 'accordion-toggle' do %> 
						<i class="icon-tag"></i>
						标签管理
						<% end %>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<%= link_to admin_messages_path, class: 'accordion-toggle' do %> 
						<i class="icon-envelope"></i>
						私信管理
						<% end %>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<%= link_to admin_topics_path, class: 'accordion-toggle' do %> 
						<i class="icon-comment"></i>
						话题管理
						<% end %>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<%= link_to admin_comments_path, class: 'accordion-toggle' do %> 
						<i class="icon-reply"></i>
						回应管理
						<% end %>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<%= link_to admin_mp_sets_path, class: 'accordion-toggle' do %> 
						<i class="icon-home"></i>
						首页设置
						<% end %>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<%= link_to admin_tuis_path, class: 'accordion-toggle' do %> 
						<i class="icon-ok"></i>
						推荐管理
						<% end %>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<a href="#collapseAdmin" data-parent="#side_accordion" data-toggle="collapse" class="accordion-toggle">
							<i class="icon-cog"></i>
							网站设置
						</a>
					</div>
					<div class="accordion-body collapse <%= 'in' if ['feedbacks', 'ads', 'banners', 'bgs', 'sends', 'sessions'].member?(controller_name) %>" id="collapseAdmin">
						<div class="panel-body">
							<ul class="nav nav-pills nav-stacked">
								<li>
									<%= link_to '反馈信息', admin_feedbacks_path, class: 'accordion-toggle' %>
								</li>
								<li>
									<%= link_to 'Banner', admin_banners_path %>
								</li>
								<li class="nav-header">系统通知</li>
								<li>
									<%= link_to '群发', '/admin/msg' %>
								</li>
								<li>
									<%= link_to '邮件', admin_resque_server_path %>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- slidebar -->
			</div>
		</div>
	</div>
</div>