<h3 class="heading">
	圈子信息
	<small>截至最新</small>
</h3>
<table class="table table-striped table-bordered table-condensed table-hover">
	<thead>
		<tr>
			<th>属性1</th>
			<th>属性2</th>
			<th>属性3</th>
			<th>属性4</th>
			<th>属性5</th>
		</tr>
	</thead>
	<% 10.times do |i| %>
	<tr>
		<td>属性1值<%= i %></td>
		<td>属性2值<%= i %></td>
		<td>属性3值<%= i %></td>
		<td class="center">属性4值<%= i %></td>
		<td class="center">属性5值<%= i %></td>
	</tr>
	<% end %>
	<tr class="gradeU">
		<td>Other browsers</td>
		<td>All others</td>
		<td>-</td>
		<td class="center">-</td>
		<td class="center">U</td>
	</tr>
</table>

<!-- datatable -->
<script src="/assets/admin/jquery.dataTables.js"></script>
<script src="/assets/admin/dataTables.scroller.js"></script>
<!-- datatable table tools -->
<script src="/assets/admin/TableTools.js"></script>
<script src="/assets/admin/ZeroClipboard.js"></script>
<!-- datatables bootstrap integration -->
<script src="/assets/admin/jquery.dataTables.bootstrap.min.js"></script>
<script src="/assets/admin/gebo_datatables.js"></script>