<div class="col-sm-6 col-md-3">
    <div class="thumbnail">
        <div class="actions fade-row">
            <%= link_to_push 'laud', image %>
            <%= link_to_push 'like', image %>
            <%= link_to_push 'store', image %>
            <%= link_to_push 'recom', image %>
        </div>
        <%= link_to image_tag(image.picture.url(:thumb)), image_path(image), style: 'display:block', target: '_blank' %>
        <div class="caption">
            <div><%= image.desc %></div>
            <span id="push-lauds-<%= image.id %>" title="点赞">点赞(<%= image.lauds_count %>)</span>
            <span id="push-likes-<%= image.id %>" title="喜欢">喜欢(<%= image.likes_count %>)</span>
            <span id="push-stores-<%= image.id %>" title="收藏">收藏(<%= image.stores_count %>)</span>
            <span id="push-recoms-<%= image.id %>" title="推荐">推荐(<%= image.recoms_count %>)</span>
            <hr>
            <div class="media">
                <%= link_to image_tag(image.user.avatar(:s50), class: 'img-circle avatar-mini'), user_path(image.user_id), class: 'pull-left' %>
                <div class="media-body">
                    <div class="media-heading">
                        <div>
                            <%= link_to image.user.username, user_path(image.user_id) %>
                            <span>(20)</span>
                            <%= link_to '关注', 'javascript:void(0)', class: 'follow' %>
                            <div class="pull-right">
                                <a href="javascript:void(0);" class="reply pull-right">评论</a>
                            </div>
                        </div>
                        <span class="date"><%= humanize image.created_at %></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>