<div class="images-second-nav">
    <ul class="breadcrumb second-nav">
        <%
        data = {
            'news'  => ['upload', '最新上传'],
            'likes' => ['heart', '喜欢最多'],
            'push'  => ['ok-circle', '编辑推荐'],
            'hot'   => ['comments', '热门作品'],
            'exp'   => ['time', '每日一图'],
            'random' => ['random', '随机浏览']
        }
        %>
        <% data.each do |key, val| %>
        <li>
            <% if params[:order].eql?(key) %>
                <%= link_to 'javascript:void(0);', style: 'color:#999;' do %>
                    <i class="icon-<%= val[0] %>"></i>
                    <%= val[1] %>
                <% end %>
            <% else %>
                <%= link_to images_path(order: key) do %>
                    <i class="icon-<%= val[0] %>"></i>
                    <%= val[1] %>
                <% end %>
            <% end %>
        </li>
        <% end %>
        <li>
            <% if action_name == "star" %>
                <%= link_to 'javascript:void(0);', style: 'color:#999;' do %>
                    <i class="icon-star"></i>
                    漫拍之星
                <% end %>
            <% else %>
                <%= link_to star_images_path do %>
                    <i class="icon-star"></i>
                    漫拍之星
                <% end %>
            <% end %>
        </li>
    </ul>
</div>