<link rel="stylesheet" type="text/css" href="/uploadify/uploadify.css?v=<%= Time.now.to_i %>">
<script type="text/javascript" src="/uploadify/jquery.uploadify.js"></script>
<script type="text/javascript" src="/uploadify/uploadify-image.js?v=<%= Time.now.to_i %>"></script>
<div class="row">
	<div class="col-md-12">
		<div class="white-col-md">
			<div class="row">
				<div class="col-md-12">
					<div class="page-header">
						<h4>
							上传作品
							<% if @event %>
							<small>
								到活动: <%= link_to @event.name, event_path(@event), target: '_blank' %>
							</small>
							<% end %>
						</h4>
					</div>
					<style>
					.form-group > label{
						width: 100px;
					}
					</style>
					<%= simple_form_for Image.new, html: {class: 'clearfix'}, validate: true do |f| %>
						<input id="cover_id" name="cover_id" type="hidden">
						<div class="row uploadify-queue" id="upload-file-queue">
							<%= render partial: 'images/upload/image', collection: @images, as: :image %>
						</div>
						<div class="form-group string required">
							<label class="string required col-sm-2 control-label" for="upload-file">
								<abbr title="required">*</abbr>
								上传照片
							</label>
							<div class="col-sm-6 input-text-add">
								<input type="file" id="upload-file" tg='image'>
							</div>
						</div>
						<div class="form-group string required image_event_id">
							<%= f.label :event_id %>
							<div class="col-sm-6 input-text-add">
								<%= render 'images/upload/event', f: f %>
							</div>
						</div>
						<div class="form-group">
							<input class="btn btn-info" style="margin-left:115px;" id="push-image" name="commit" type="submit" value="保存此次作品">	
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>