<div class="row">
	<div class="col-md-9">
		<div class="white-col-md">
			<div class="page-header">
				<h3>
					这是活动标题<%= @image.id %>
					<div class="pull-right">
						<%= link_to image_path(@image.prev.id), class: 'btn btn-default btn-xs' do %>
						<i class="icon-arrow-left"></i>
							上一张
						<% end %>
						<%= link_to image_path(@image.next.id), class: 'btn btn-default btn-xs' do %>
							下一张
						<i class="icon-arrow-right"></i>
						<% end %>
					</div>
				</h3>
				
			</div>
			<div class="pic">
				<%= link_to image_tag(@image.picture(:big), style: 'max-width:100%;') %>
				<!-- <a href=""><img src="/images/photo.jpg"></a> -->
				<%= render "/shared/actions", obj: @image, as: :obj if sign_in? %>
			</div>
			<hr>
			<ul class="list-unstyled clearfix">
				<li class="opt-b">
					<i class="icon-user"></i>
					<a href="">朱晓武</a>/<a href="">关注</a>
				</li>
				<li class="opt-b">
					<i class="icon-thumbs-up"></i>
					<%= link_to_push 'laud', @image, false %>
				</li>
				<li class="opt-b">
					<i class="icon-heart"></i>
					<%= link_to_push 'like', @image, false %>
				</li>
				<li class="opt-b">
					<i class="icon-star"></i>
					<%= link_to_push 'store', @image, false %>
				</li>
				<li class="opt-b">
					<i class="icon-ok-circle"></i>
					<%= link_to_push 'recom', @image, false %>
				</li>
				<li class="opt-b">
					<i class="icon-comment"></i>
					<a href="#comment_content" title="回应">回应(<%= @image.comments_count %>)</a>
				</li>
				<li class="opt-b">
					<i class="icon-flag"></i>
					<% if @image.event %>
						<%= link_to @image.event.name, event_path(@image.event_id) %>
					<% end %>
				</li>
				<li class="opt-b">
					<i class="icon-time"></i>
					<%= @image.created_at.strftime("%m-%d %R") %>
				</li>
			</ul>
			<hr>
			<pre style="font-size: 14px;border: 0;background: #fff;padding: 0;"><code><%= @image.desc.blank? ? '暂无描述' : @image.desc %></code></pre>
			<%= render "respond" if current_user %>
			<hr>
			<div class="comments">
				<h5>所有回应</h5>
				<ul class="media-list">
					<%= render partial: 'images/comment', collection: @image.comments %>
					<script type="text/javascript">
					$(function(){
						$(".reply-link").on("click", function(){
							var _id   = $(this).data("id"),
								_name = $(this).data("name")
							$("#comment_reply_id").val(_id);
							$("#replywho").find("small").text(_name).end().show();
						});

						$("#link-remove").click(function(){
							$("#comment_reply_id").removeAttr('value');
							$("#replywho").hide();
						})
					})
					</script>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="radbox">
			<div class="box_top">
				<span class="title light">每日重点</span>
				<a href="" class="pull-right">更多</a>
			</div>
			<div class="box_con">
				<ul class="list-unstyled">
					<li><a href="/">Ruby</a></li>
					<li><a href="/">Mysql</a></li>
					<li><a href="/">MongoDB</a></li>
					<li><a href="/">JavaScript</a></li>
					<li><a href="/">JQuery</a></li>
					<li><a href="/">Phonegap</a></li>
					<li><a href="/">Titanium</a></li>
				</ul>
			</div>
		</div>
		<div class="radbox">
			<div class="box_top">
				<span class="title light">新注用户</span>
			</div>
			<div class="box_con">
				<ul class="media-list">
					<% 5.times do %>
					<li class="media">
						<a class="pull-left" href="#">
							<img class="img-circle avatar" src="/images/defaults/users.jpg">
						</a>
						<div class="media-body">
							<div class="media-body">
								<div class="media-heading">
									<a href="">朱晓武</a>
								</div>
								<span class="date">2013-08-19 10:37</span>
							</div>
						</div>
					</li>
					<% end %>
				</ul>
			</div>
		</div>
		<div class="radbox">
			<div class="box_top">
				<span class="title light">网站标签</span>
			</div>
			<div class="box_con">
				<% Tag.all.each do |tag| %>
				<a href="javascript:void(0);" class="tag"><%= tag.name %></a>
				<% end %>
			</div>
		</div>
	</div>
</div>


<script>
	window._bd_share_config={
		"common":{
			"bdSnsKey":{},
			"bdText":"这是分享内容",
			"bdDesc":"这是分享摘要",
			"bdUrl":"这是分享的url",
			"bdPic":"分享的图片",
			"bdMini":"1", // 下拉浮层中分享按钮的列数
			"bdMiniList":false,
			"bdStyle":"1",
			"bdSize":"16"
		},
		"share":{
			"bdSize":16
		}
	};
	with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>