<html lang="en">
	<head>
		<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>漫拍-管理页面</title>
		<%= stylesheet_link_tag "admin", :media => 'all' %>
		<%= javascript_include_tag "admin" %>
		<%= csrf_meta_tags %>
		<!--[if lte IE 8]>
		<link rel="stylesheet" href="/ie/ie.css" />
		<![endif]-->

		<!--[if lt IE 9]>
		<script src="/ie/html5shiv.min.js"></script>
		<script src="/ie/respond.min.js"></script>
		<![endif]-->
		<%= render 'shared/tongji' %>
	</head>
	<body class="full_width menu_hover">
		<div id="maincontainer" class="clearfix">
			<header>
				<%= render 'admin/shared/nav' %>
			</header>

			<div id="contentwrapper">
				<div class="main_content">
					<%= render 'admin/shared/breadcrumb' %>
					<%= yield %>
				</div>
			</div>
			<%= render 'admin/shared/left_bar' %>
		</div>

	<% if flash[:notice].present? %>
		<script type="text/javascript">
		$.sticky("<%= flash[:notice] %>", {autoclose : false, position: "bottom-right", type: "st-info" });
		</script>
	<% end %>

	</body>
</html>