<html lang="en">
	<head>
		<head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>漫拍-管理页面</title>
		<%= render 'admin/shared/head' %>
		<%#= stylesheet_link_tag "admin", :media => nil %>
		<%#= javascript_include_tag "admin" %>
		<%= csrf_meta_tags %>
		<link rel="shortcut icon" href="/favicon.ico">
	</head>
	<body class="full_width menu_hover">
		<%= render 'admin/shared/style_switcher' %>

		<div id="maincontainer" class="clearfix">
			<header>
				<%= render 'admin/shared/nav' %>
				<%= render 'admin/shared/modal' %>
			</header>

			<div id="contentwrapper">
				<div class="main_content">
					<%= render 'admin/shared/breadcrumb' %>
					<%= yield %>
				</div>
			</div>
			<%= render 'admin/shared/left_bar' %>
		</div>
	</body>
</html>