<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= @title %></title>
	<meta name="keywords" content="<%= @keywords %>">
	<meta name="description" content="<%= @description %>">
	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<link href="/favicon.ico?v=2" type="image/x-icon" rel="icon">
	<link href="/favicon.ico?v=2" type="image/x-icon" rel="shortcut icon">
	<!--[if lte IE 8]>
	<link rel="stylesheet" href="/ie/ie.css" />
	<![endif]-->

	<!--[if lt IE 9]>
	<script src="/ie/html5shiv.min.js"></script>
	<script src="/ie/respond.min.js"></script>
	<![endif]-->
	<%= render 'shared/tongji' %>
</head>
<body>
	<div id="msgbox" class="msg-success">
		<p>关注/取消关注成功！</p><div class="closeb"></div>
	</div>
	<%= render 'shared/nav' %>
	<% if controller_name.eql?('home') and action_name.eql?('index') and hchoice = Photo.choice.last and huser = hchoice.user %>
	<div class="cz-home-top">
		<div class="background">
			<%= link_to image_tag(hchoice.picture(:large), title: hchoice.title), photo_path(hchoice), title: hchoice.title %>
		</div>
		<div class="cz-home-content session">
			<div class="beian" style="text-align: center;">
				<div class="sess-tip">
					<h1 style="font-size:50px;">每一个瞬间都可以变成永恒</h1>
					<h3 style="font-size:30px;">漫拍约你一起拍照片</h3>
					<a class="button submit large mp-sign" href="/photos/simple" style="margin-top: 80px;">上传您的作品</a>
					<!-- <a class="discover" href="/photos?&amp;q%5Bn%5D=recs&amp;q%5Bo%5D=recommend_at+desc&amp;q%5Bs%5D=cols">或看看精彩照片</a> -->
				</div>
			</div>
			<div class="beian beianbottom">
				<table>
					<tbody>
						<tr>
							<td class="author-avatar">
								<%= link_to image_tag(huser.avatar.url(:small)), user_path(hchoice.user_id), style: 'display:inline-block;float:left' %>
								<div style="margin-left:10px;float:left;height:70px;padding-top: 30px;">
									© 2014 来自摄影师 <%= link_to huser.username, user_path(hchoice.user_id), class: 'usernamefix' %>
								</div>
								
							</td>
							<td>
								<!-- Copyright © 2014-2015　山东漫拍文化发展有限公司
								<br>鲁ICP备14011722号</td> -->
							<td>
								<!-- © 2014
								<a href="/accounts/1">Photography By zhuxiaowu</a> -->
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<% end %>
	<div class="container main">
		<div class="row main-tip">
			<div class="col-md-12">
				<!-- <div class="alert alert-info">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<strong>通知:</strong>
					漫拍网第二版即将发布，敬请期待！！！
					<br>
				</div> -->
			</div>
		</div>
		
		<%= yield %>
	</div>
	<%= render 'shared/footer' %>

	<% if flash[:notice].present? or flash[:error].present? %>
		<script type="text/javascript">
			var _type = '<%= flash[:notice].present? ? "success" : "error" %>',
				_str    = '<%= flash[:notice] || flash[:error] %>';
			MPMSG(_type, _str);
		</script>
	<% end %>

</body>
</html>