<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= @title %></title>
	<meta name="keywords" content="<%= @keywords %>">
	<meta name="description" content="<%= @description %>">
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<meta property="qc:admins" content="551071253160276375" />
	<link rel="shortcut icon" href="/favicon.ico">
	<!--[if lte IE 8]>
	<link rel="stylesheet" href="/ie/ie.css" />
	<![endif]-->

	<!--[if lt IE 9]>
	<script src="/ie/html5.js"></script>
	<script src="/ie/respond.min.js"></script>
	<script src="/ie/excanvas.min.js"></script>
	<![endif]-->
</head>
<body>
	<%= render 'shared/nav' %>
	<div class="container main">
		<div class="row main-tip">
			<div class="col-md-12">
				<div class="alert alert-info">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					 <strong>通知:</strong> 漫拍网V2版本即将发布!
				</div>	
			</div>
		</div>
		
		<%= yield %>
	</div>
	<%= render 'shared/to_top' %>
	<%= render 'shared/footer' %>

	<% if flash[:notice].present? %>
		<script type="text/javascript">
			var str = '<div class="alert alert-success" style="display:none;"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><%= flash[:notice] %></div>';
			$(str).prependTo('.main-tip > .col-md-12').slideDown(500);
		</script>
	<% end %>

</body>
</html>