<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= @title %></title>
	<meta name="keywords" content="<%= @keywords %>">
	<meta name="description" content="<%= @description %>">
	<meta property="qc:admins" content="5510712337167636" />
	<meta property="wb:webmaster" content="e5a2ccc22427e5c6" />
	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<link href="/favicon.ico?v=2" type="image/x-icon" rel="icon">
	<link href="/favicon.ico?v=2" type="image/x-icon" rel="shortcut icon">
	<!--[if lte IE 8]>
	<link rel="stylesheet" href="/ie/ie.css" />
	<![endif]-->

	<!--[if lt IE 9]>
	<script src="/ie/html5shiv.min.js"></script>
	<script src="/ie/respond.min.js"></script>
	<![endif]-->
	<%= render 'shared/tongji' %>
</head>
<body style="background:#ccc">
	<style type="text/css">
	.logo{
		text-align: center;
		border-bottom: 1px solid #666;
		padding-bottom: 10px;
	}
	.content{
		/*max-width:960px;min-width:340px;*/
		width: 340px;
		margin:100px auto 0 auto;background:#fff;padding:20px;border-radius:5px;
	}
	.content.mp-session-sign .mp-sign-form{
		position: static;
		margin: 0;
	}
	</style>
	<div class="content mp-session-sign">
		<div class="logo">
			<%= link_to image_tag("/images/logo/logo@_h_50.png"), root_path, class: '', style: 'padding: 0; display: inline-block;' %>
		</div>
		<%= yield %>
	</div>
</body>
</html>