<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= @title %></title>
	<meta name="keywords" content="<%= @keywords %>">
	<meta name="description" content="<%= @description %>">
	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<link rel="shortcut icon" href="/favicon.ico">
	<!--[if lte IE 8]>
	<link rel="stylesheet" href="/ie/ie.css" />
	<![endif]-->

	<!--[if lt IE 9]>
	<script src="/ie/html5shiv.min.js"></script>
	<script src="/ie/respond.min.js"></script>
	<![endif]-->
	<%= render 'shared/tongji' %>
</head>
<!--缺少跳转landingpage-->
<body style="background:#fff;height:100%;">
	<div class="container">
		<%= link_to root_path do %>
		<span class="logo"></span>
		<% end %>
		<%= yield %>
		<!-- <div class="beian text-center" style="color: white;">
			<p>
				Copyright © 2014-2015　山东漫拍文化发展有限公司
				<br>
				<a target="_blank" href="http://www.miibeian.gov.cn" class="font_cl">鲁ICP备14011722号</a>
			</p>
		</div> -->
	</div>
	<div id="mp_bg">
		<img id="mp_img" src="<%= sessionbackgrounds %>">
	</div>
	<style type="text/css">
		#mp_bg{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;
			overflow: hidden;
		}
		#mp_img{
			opacity: 0;
			-webkit-transition: opacity .8s ease;
			-moz-transition: opacity .8s ease;
			transition: opacity .8s ease;
		}
	</style>
	<script type="text/javascript">
	$(function(){
		var _h = $(window).height();
		var _w = $(window).width();
		$("#mp_bg").css({width: _w, height: _h});
		$("#mp_img").css({width: _w, height: _h, opacity: 1});
	});
	</script>
</body>
</html>