<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= @title %></title>
	<meta name="keywords" content="<%= @keywords %>">
	<meta name="description" content="<%= @description %>">
	<meta property="qc:admins" content="5510712337167636" />
	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<link rel="shortcut icon" href="/favicon.ico">
	<!--[if lte IE 8]>
	<link rel="stylesheet" href="/ie/ie.css" />
	<![endif]-->

	<!--[if lt IE 9]>
	<script src="/ie/html5shiv.min.js"></script>
	<script src="/ie/respond.min.js"></script>
	<![endif]-->
	<%= render 'shared/tongji' %>
</head>
<!--缺少跳转landingpage-->
<body class="session">
	<div class="container mp-session-sign">
		<div class="toolbar">
			<%= link_to home_path do %>
				<span class="logo"></span>
			<% end %>
			<% if action_name.eql?('index') %>
			<a href="javascript:void(0);" class="sign-up_now btn btn-success">注册</a>
			<a href="javascript:void(0);" class="sign-in_now btn btn-primary">登录</a>
			<% else %>
			<a href="/?m=sign_up" class="btn btn-success">注册</a>
			<a href="/?m=sign_in" class="btn btn-primary">登录</a>
			<% end %>
		</div>
		<%= yield %>
	</div>
	<div class="beian text-center">
		<p>
			Copyright © 2014-2015　山东漫拍文化发展有限公司
			<br>
			鲁ICP备14011722号
		</p>
	</div>
	<div class="background">
		<img src="<%= sessionbackgrounds %>">
		<script type="text/javascript">
		$(function(){
			$(".background").css({width: window.screen.width, height: window.outerHeight});
			$(".background img").css({width: window.screen.width, height: window.outerHeight, opacity: 1});
			$(window).resize(function(){
				var _b = $(".beian").width();
				var _l = window.screen.width / 2 - _b / 2 - 40;
				$(".beian").css({left: _l});
				var _h = $(window).height();
				$(".background").css({width: window.screen.width, height: _h});
				var _t = _h - window.screen.height;
				$(".background img").css({top: _t, opacity: 1});
			});
		})
		</script>
	</div>
</body>
</html>