<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= @title %></title>
	<meta name="keywords" content="<%= @keywords %>">
	<meta name="description" content="<%= @description %>">
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<link rel="shortcut icon" href="/favicon.ico">
	<!--[if lte IE 8]>
	<link rel="stylesheet" href="/ie/ie.css" />
	<![endif]-->

	<!--[if lt IE 9]>
	<script src="/ie/html5.js"></script>
	<script src="/ie/respond.min.js"></script>
	<script src="/ie/excanvas.min.js"></script>
	<![endif]-->
</head>
<!--缺少跳转landingpage-->
<body style="background:url(/tmp/bg<%= [1,2,3,4,5].sort_by{rand}[0] %>.jpg) 0 0 no-repeat;">
	<div class="container">
		<a href="/"><span class="logo"></span></a>
		<%= yield %>
	</div>
</body>
</html>